net "xtal" CLOCK_DEDICATED_ROUTE = true;
net "xtal" tnm_net = xtal;
timespec ts_xtal = period "xtal" 50 ns high 50%;

net "mii_txc" tnm_net = mii_txc;
timespec ts_mii_txc = period "mii_txc" 8 ns high 50%;

net "mii_rxc" tnm_net = mii_rxc;
timespec ts_mii_rxc = period "mii_rxc" 8 ns high 50%;
NET "adc_clkout" CLOCK_DEDICATED_ROUTE = FALSE;

#
net "*ddr_dq[*]"           maxdelay = 350 ps;
net "*ddr_dq[*]"           maxskew  = 100 ps;
net "*ddr_st_lp_dqs*"      maxdelay = 3200 ps;
net "*ddr_st_lp_dqs*"      maxskew  = 1000 ps;

# Data strobe signals
# ###################

net "*ddr_dqs[*]"          maxdelay = 375 ps;
net "*ddr_dqs[*]"          maxskew  = 75 ps;
#net "*ddr_delayed_dqs*[*]" maxdelay = 1350 ps;
#net "*ddr_delayed_dqs*[*]" maxskew  = 560 ps;
net "*video_clk*" maxskew = 1 ns;

net "ddr_dqs[0]" tnm_net = dqs0;
net "ddr_dqs[1]" tnm_net = dqs1;
net "ddr_dqs[0]" CLOCK_DEDICATED_ROUTE = false;
net "ddr_dqs[1]" CLOCK_DEDICATED_ROUTE = false;

# ###################### #
# DDR 100 Mhz rate clock #
# ###################### #

#timespec ts_dso0 = period "dqs0" 10 ns high 50%;
#offset = in 0 ns valid 5 ns before ddr_dqs[0] rising;
#offset = in 0 ns valid 5 ns before ddr_dqs[1] rising;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;

# ###################### #
# DDR 133 Mhz rate clock #
# ###################### #

#timespec ts_dso0 = period "dqs0" 7.5 ns high 50%;
#offset = in 0 ns valid 3.75 ns before ddr_dqs[0] rising;
#offset = in 0 ns valid 3.75 ns before ddr_dqs[1] rising;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;

# ###################### #
# DDR 166 Mhz rate clock #
# ###################### #

#timespec ts_dso0 = period "dqs0" 6 ns high 50%;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;
#offset = in 0 ns valid 3 ns before ddr_dqs[0] rising;
#offset = in 0 ns valid 3 ns before ddr_dqs[1] rising;


# ###################### #
# DDR 180 Mhz rate clock #
# ###################### #

#timespec ts_dso0 = period "dqs0" 5.56 ns high 50%;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;
#offset = in 0 ns valid 2.77 ns before ddr_dqs[0] rising;
#offset = in 0 ns valid 2.77 ns before ddr_dqs[1] rising;

# ###################### #
# DDR 193 Mhz rate clock #
# ###################### #

#timespec ts_dso0 = period "dqs0" 5.172 ns high 50%;
##net "*ddr_st_lp_dqs*" offset = in 2.586 ns valid 6.46 ns before ddr_dqs[0] rising;
##net "*ddr_st_lp_dqs*" offset = in 2.586 ns valid 6.46 ns before ddr_dqs[1] rising;
#net "*ddr_st_lp_dqs*" offset = in 2.1 ns valid 6.46 ns before ddr_dqs[0] rising;
#net "*ddr_st_lp_dqs*" offset = in 2.1 ns valid 6.46 ns before ddr_dqs[1] rising;
#offset = in 0 ns valid 2.586 ns before ddr_dqs[0] rising;
#offset = in 0 ns valid 2.586 ns before ddr_dqs[1] rising;

# ###################### #
# DDR 200 Mhz rate clock #
# ###################### #

timespec ts_dso0 = period "dqs0" 5 ns high 50%; # INPUT_JITTER 200 ps; 
net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;
offset = in -0.450 ns valid 1.9 ns before ddr_dqs[0] rising;
offset = in -0.450 ns valid 1.9 ns before ddr_dqs[1] rising;

timespec ts_dso1 = period "dqs1" ts_dso0 high 50% phase 0.0; # INPUT_JITTER 200 ps;

net ddr_dqs[0] tnm_net = FFS  FFS_dqs0;
net ddr_dqs[1] tnm_net = FFS  FFS_dqs1;
net ddr_dqs[0] tnm_net = RAMS RAMS_dqs0;
net ddr_dqs[1] tnm_net = RAMS RAMS_dqs1;

# ###### #
# Others #
# ###### #

timespec ts_ddr_ram  = from RAMS (*/*ddr_data_g[*].ram_g[*].ram16x1d_i*) TS_usm_ddr_dcm_dll_clk0 datapathonly;
timespec ts_ddr_act  = from FFS  (*/ddr_mpu_act) TO FFS(*ddr_a*) TS_usm_ddr_dcm_dll_clk0*1.5 datapathonly;
timespec ts_ddr_dll  = from FFS  (*/dll_timer_rdy)  TIG;
timespec ts_ddr_200u = from FFS  (*/ddr_init_cfg) TIG;

# ###################### #
# Crossclock time ignore #
## ###################### #
#
#timespec ts_rowid  = FROM FFS(*/*vsync_erq*)  TO FFS(*sync_ena_val*) TIG;
#timespec ts_rowpag = FROM FFS(*/*hsync_erq*) TO FFS(*sync_dat_val*) TIG;

inst "*/ddr_io_ba_e/ddr_cke_i"                 iob = force;
inst "*/ddr_io_ba_e/ddr_ras_i"                 iob = force;
inst "*/ddr_io_ba_e/ddr_cas_i"                 iob = force;
inst "*/ddr_io_ba_e/ddr_we_i"                  iob = force;
inst "*/ddr_io_ba_e/ddr_a_g[*].ff_e"           iob = force;
inst "*/ddr_io_ba_e/ddr_b_g[*].ff"             iob = force;
inst "*/ddr_io_dqs_e/ddr_io_dqs_u[*].ffd_i"    iob = force;
inst "*/ddr_io_du/*bytes_g[*].bits_g[*].ffd_i" iob = force;
inst "*/dac_clk_i"   iob = force;
inst "*/dac_blank_i" iob = force;
inst "*/dac_sync_i"  iob = force;
inst "*/dac_hsync_i"  iob = force;
inst "*/dac_vsync_i"  iob = force;
inst "*/dac_psave_i" iob = force;
inst "*/rgb_g[*].ffd_red"   iob = force;
inst "*/rgb_g[*].ffd_green" iob = force;
inst "*/rgb_g[*].ffd_blue"  iob = force;

