#net "xtal" CLOCK_DEDICATED_ROUTE = true;
net "user_clk" tnm_net = user_clk;
timespec ts_user_clk = period "user_clk" 10 ns high 50%;

net "phy_rxclk" tnm_net = phy_rxclk;
timespec ts_phy_rxclk = period "phy_rxclk" 8 ns high 50%;

net "phy_txclk" tnm_net = phy_txclk;
timespec ts_phy_txclk = period "phy_txclk" 8 ns high 50%;

net "ddrs_clk0" tnm_net = ddrs_clk0;
net "dcms_e/sclk_bufg" tnm_net = sclk_bufg; 

#NET "adc_clkout" CLOCK_DEDICATED_ROUTE = FALSE;
#
##
#net "*ddr_dq[*]"           maxdelay = 350 ps;
#net "*ddr_dq[*]"           maxskew  = 100 ps;
#net "*ddr_st_lp_dqs*"      maxdelay = 3200 ps;
#net "*ddr_st_lp_dqs*"      maxskew  = 1000 ps;
#
## Data strobe signals
## ###################
#
#net "*ddr_dqs[*]"          maxdelay = 375 ps;
#net "*ddr_dqs[*]"          maxskew  = 75 ps;
##net "*ddr_delayed_dqs*[*]" maxdelay = 1350 ps;
##net "*ddr_delayed_dqs*[*]" maxskew  = 560 ps;
#net "*video_clk*" maxskew = 1 ns;
#
net "ddr2_dqs_p[0]" tnm_net = dqs0;
net "ddr2_dqs_p[1]" tnm_net = dqs1;
net "ddr2_dqs_p[0]" CLOCK_DEDICATED_ROUTE = false;
net "ddr2_dqs_p[1]" CLOCK_DEDICATED_ROUTE = false;
#
## ###################### #
## DDR 100 Mhz rate clock #
## ###################### #
#
##timespec ts_dso0 = period "dqs0" 10 ns high 50%;
##offset = in 0 ns valid 5 ns before ddr_dqs[0] rising;
##offset = in 0 ns valid 5 ns before ddr_dqs[1] rising;
##net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
##net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;
#
## ###################### #
## DDR 133 Mhz rate clock #
## ###################### #
#
##timespec ts_dso0 = period "dqs0" 7.5 ns high 50%;
##offset = in 0 ns valid 3.75 ns before ddr_dqs[0] rising;
##offset = in 0 ns valid 3.75 ns before ddr_dqs[1] rising;
##net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
##net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;
#
## ###################### #
## DDR 166 Mhz rate clock #
## ###################### #
#
##timespec ts_dso0 = period "dqs0" 6 ns high 50%;
##net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
##net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;
##offset = in 0 ns valid 3 ns before ddr_dqs[0] rising;
##offset = in 0 ns valid 3 ns before ddr_dqs[1] rising;
#
#
## ###################### #
## DDR 180 Mhz rate clock #
## ###################### #
#
##timespec ts_dso0 = period "dqs0" 5.56 ns high 50%;
##net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
##net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;
##offset = in 0 ns valid 2.77 ns before ddr_dqs[0] rising;
##offset = in 0 ns valid 2.77 ns before ddr_dqs[1] rising;
#
## ###################### #
## DDR 193 Mhz rate clock #
## ###################### #
#
##timespec ts_dso0 = period "dqs0" 5.172 ns high 50%;
###net "*ddr_st_lp_dqs*" offset = in 2.586 ns valid 6.46 ns before ddr_dqs[0] rising;
###net "*ddr_st_lp_dqs*" offset = in 2.586 ns valid 6.46 ns before ddr_dqs[1] rising;
##net "*ddr_st_lp_dqs*" offset = in 2.1 ns valid 6.46 ns before ddr_dqs[0] rising;
##net "*ddr_st_lp_dqs*" offset = in 2.1 ns valid 6.46 ns before ddr_dqs[1] rising;
##offset = in 0 ns valid 2.586 ns before ddr_dqs[0] rising;
##offset = in 0 ns valid 2.586 ns before ddr_dqs[1] rising;
#
## ###################### #
## DDR 200 Mhz rate clock #
## ###################### #
#
#timespec ts_dso0 = period "dqs0" 5 ns high 50%; # INPUT_JITTER 200 ps; 
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[0] rising;
#net "*ddr_st_lp_dqs*" offset = in 1.5 ns valid 2.5 ns before ddr_dqs[1] rising;
#offset = in -0.450 ns valid 1.9 ns before ddr_dqs[0] rising;
#offset = in -0.450 ns valid 1.9 ns before ddr_dqs[1] rising;

## ###################### #
## DDR 200 Mhz rate clock #
## ###################### #

timespec ts_dso0 = period "dqs0" 2.222222 ns high 50%  INPUT_JITTER 200 ps; 
#offset = in -0.450 ns valid 1.9 ns before ddr_dqs[0] rising;
#offset = in -0.450 ns valid 1.9 ns before ddr_dqs[1] rising;
timespec ts_dso1 = period "dqs1" ts_dso0 high 50% phase 0.0 INPUT_JITTER 200 ps;
#
net ddr2_dqs_p[0] tnm_net = FFS  FFS_dqs0;
net ddr2_dqs_p[1] tnm_net = FFS  FFS_dqs1;
net ddr2_dqs_p[0] tnm_net = RAMS RAMS_dqs0;
net ddr2_dqs_p[1] tnm_net = RAMS RAMS_dqs1;
net ddrs_clk0     tnm_net = FFS  FFS_ddrsclk0;
net ddrs_clk0     tnm_net = RAMS RAMS_ddrsclk0;
net ddrs_clk90    tnm_net = FFS  FFS_ddrsclk90;
net input_clk     tnm_net = FFS  FFS_inputclk;
net input_clk     tnm_net = RAMS RAMS_inputclk;

## ###### #
## Others #
## ###### #

timespec ts_ddr_ram  = from RAMS (*/*ddr_data_g[*].ram_g[*].ram16x1d_i*) TS_dcms_e_ddrdcm_e_dcm_clk0*1.5 datapathonly;
timespec ts_ddr_act  = from FFS  (*/ddr_mpu_act) TO FFS(*ddr_a*) TS_dcms_e_ddrdcm_e_dcm_clk0*1.5 datapathonly;
timespec ts_ddr_dll  = from FFS  (*/dll_timer_rdy)  TIG;
timespec ts_ddr_200u = from FFS  (*/ddr_init_cfg) TIG;
timespec ts_sys_ini  = from FFS  (*/sys_ini) TIG;
timespec ts_dcm_lckd = from FFS  (*dcms_e/dcm_lckd*) TIG;

# ###################### #
# Crossclock time ignore #
# ###################### #

timespec ts_f2fclk_ddr2inp = FROM FFS_ddrsclk0 TO FFS_inputclk  TIG;
timespec ts_f2fclk_inp2ddr = FROM FFS_inputclk  TO FFS_ddrsclk0  TIG;
timespec ts_r2fclk_ddr0to90 = FROM RAMS_ddrsclk0 TO FFS_ddrsclk90 TIG;

#timespec ts_rowid  = FROM FFS(*/*vsync_erq*)  TO FFS(*sync_ena_val*) TIG;
#timespec ts_rowpag = FROM FFS(*/*hsync_erq*) TO FFS(*sync_dat_val*) TIG;

#inst "*/ddr_io_ba_e/ddr_cke_i"                 iob = force;
#inst "*/ddr_io_ba_e/ddr_ras_i"                 iob = force;
#inst "*/ddr_io_ba_e/ddr_cas_i"                 iob = force;
#inst "*/ddr_io_ba_e/ddr_we_i"                  iob = force;
#inst "*/ddr_io_ba_e/ddr_a_g[*].ff_e"           iob = force;
#inst "*/ddr_io_ba_e/ddr_b_g[*].ff"             iob = force;
#inst "*/ddr_io_dqs_e/ddr_io_dqs_u[*].ffd_i"    iob = force;
#inst "*/ddr_io_du/*bytes_g[*].bits_g[*].ffd_i" iob = force;
#inst "*/dac_clk_i"   iob = force;
#inst "*/dac_blank_i" iob = force;
#inst "*/dac_sync_i"  iob = force;
#inst "*/dac_hsync_i"  iob = force;
#inst "*/dac_vsync_i"  iob = force;
#inst "*/dac_psave_i" iob = force;
#inst "*/rgb_g[*].ffd_red"   iob = force;
#inst "*/rgb_g[*].ffd_green" iob = force;
#inst "*/rgb_g[*].ffd_blue"  iob = force;
#

NET "ddr2_clk_p[*]" iostandard = DIFF_SSTL18_II;
NET "ddr2_clk_n[*]" iostandard = DIFF_SSTL18_II;
NET "ddr2_dqs_p[*]" iostandard = DIFF_SSTL18_II_DCI;
NET "ddr2_dqs_n[*]" iostandard = DIFF_SSTL18_II_DCI;
NET "ddr2_d[*]"     iostandard = SSTL18_II_DCI;
NET "ddr2_dm[*]"    iostandard = SSTL18_II;
NET "ddr2_we"       iostandard = SSTL18_II;
NET "ddr2_cas"      iostandard = SSTL18_II;
NET "ddr2_ras"      iostandard = SSTL18_II;
NET "ddr2_cs[*]"    iostandard = SSTL18_II;
NET "ddr2_cke[*]"   iostandard = SSTL18_II;
NET "ddr2_ba[*]"    iostandard = SSTL18_II;
NET "ddr2_a[*]"     iostandard = SSTL18_II;
NET "ddr2_odt[*]"   iostandard = SSTL18_II;

#NET "ddr2_scl"  iostandard = SSTL18_II;
#NET "ddr2_sda"  iostandard = SSTL18_II;
#NET "dvi_gpio1"  iostandard = SSTL18_II;
#NET "gpio_dip_sw[1]"  iostandard = SSTL18_II;

NET "gpio_led[3]" iostandard = SSTL18_II;
NET "gpio_led[5]" iostandard = SSTL18_II;
NET "gpio_led[6]" iostandard = SSTL18_II;
NET "gpio_led[7]" iostandard = SSTL18_II;

# 
# DDR dqs #
#

inst "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/lutn" loc = slice_x2y32;
inst "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/lutp" loc = slice_x2y32;
#inst "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/lutn" bel = g;
#inst "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/lutp" bel = f;

inst "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/chain_g[1].lut" loc = slice_x2y33;
inst "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/chain_g[2].lut" loc = slice_x2y33;
inst "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/chain_g[3].lut" loc = slice_x2y33;
inst "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/chain_g[4].lut" loc = slice_x2y33;

inst "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/lutn" loc = slice_x2y43;
inst "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/lutp" loc = slice_x2y43;
#inst "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/lutn" bel = g;
#inst "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/lutp" bel = f;

inst "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/chain_g[1].lut" loc = slice_x2y44;
inst "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/chain_g[2].lut" loc = slice_x2y44;
inst "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/chain_g[3].lut" loc = slice_x2y44;
inst "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/chain_g[4].lut" loc = slice_x2y44;


INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].SYS_CNTR_G[0].FFD_I" LOC = SLICE_X1Y29;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].SYS_CNTR_G[1].FFD_I" LOC = SLICE_X1Y29;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].SYS_CNTR_G[2].FFD_I" LOC = SLICE_X1Y29;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].SYS_CNTR_G[3].FFD_I" LOC = SLICE_X1Y29;


INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].DDR_WORD_G.CNTR_G[0].FFD_I" LOC = SLICE_X1Y34;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].DDR_WORD_G.CNTR_G[1].FFD_I" LOC = SLICE_X1Y34;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].DDR_WORD_G.CNTR_G[2].FFD_I" LOC = SLICE_X1Y34;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].DDR_WORD_G.CNTR_G[3].FFD_I" LOC = SLICE_X1Y34;


INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].RAM_G[7].RAM16X1D_I" LOC = SLICE_X0Y40;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].RAM_G[6].RAM16X1D_I" LOC = SLICE_X0Y40;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].RAM_G[5].RAM16X1D_I" LOC = SLICE_X0Y45;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].RAM_G[4].RAM16X1D_I" LOC = SLICE_X0Y45;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].RAM_G[3].RAM16X1D_I" LOC = SLICE_X0Y40;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].RAM_G[2].RAM16X1D_I" LOC = SLICE_X0Y40;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].RAM_G[1].RAM16X1D_I" LOC = SLICE_X0Y45;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[0].RAM_G[0].RAM16X1D_I" LOC = SLICE_X0Y45;


INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].DDR_WORD_G.CNTR_G[0].FFD_I" LOC = SLICE_X1Y35;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].DDR_WORD_G.CNTR_G[1].FFD_I" LOC = SLICE_X1Y35;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].DDR_WORD_G.CNTR_G[2].FFD_I" LOC = SLICE_X1Y35;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].DDR_WORD_G.CNTR_G[3].FFD_I" LOC = SLICE_X1Y35;


INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].RAM_G[7].RAM16X1D_I" LOC = SLICE_X0Y42;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].RAM_G[6].RAM16X1D_I" LOC = SLICE_X0Y42;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].RAM_G[5].RAM16X1D_I" LOC = SLICE_X0Y47;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].RAM_G[4].RAM16X1D_I" LOC = SLICE_X0Y47;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].RAM_G[3].RAM16X1D_I" LOC = SLICE_X0Y42;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].RAM_G[2].RAM16X1D_I" LOC = SLICE_X0Y42;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].RAM_G[1].RAM16X1D_I" LOC = SLICE_X0Y47;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].DDR_DATA_G[1].RAM_G[0].RAM16X1D_I" LOC = SLICE_X0Y47;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].O_CNTR_G[0].FFD_I" LOC = SLICE_X1Y45;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].O_CNTR_G[1].FFD_I" LOC = SLICE_X1Y45;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].O_CNTR_G[2].FFD_I" LOC = SLICE_X1Y45;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].O_CNTR_G[3].FFD_I" LOC = SLICE_X1Y45;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].I_CNTR_G[0].FFD_I" LOC = SLICE_X1Y43;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].I_CNTR_G[1].FFD_I" LOC = SLICE_X1Y43;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].I_CNTR_G[2].FFD_I" LOC = SLICE_X1Y43;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].I_CNTR_G[3].FFD_I" LOC = SLICE_X1Y43;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].RAM_G[7].RAM16X1D_I" LOC = SLICE_X0Y41;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].RAM_G[6].RAM16X1D_I" LOC = SLICE_X0Y41;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].RAM_G[5].RAM16X1D_I" LOC = SLICE_X0Y46;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].RAM_G[4].RAM16X1D_I" LOC = SLICE_X0Y46;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].RAM_G[3].RAM16X1D_I" LOC = SLICE_X0Y41;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].RAM_G[2].RAM16X1D_I" LOC = SLICE_X0Y41;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].RAM_G[1].RAM16X1D_I" LOC = SLICE_X0Y46;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[0].RAM_G[0].RAM16X1D_I" LOC = SLICE_X0Y46;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].I_CNTR_G[0].FFD_I" LOC = SLICE_X1Y46;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].I_CNTR_G[1].FFD_I" LOC = SLICE_X1Y46;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].I_CNTR_G[2].FFD_I" LOC = SLICE_X1Y46;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].I_CNTR_G[3].FFD_I" LOC = SLICE_X1Y46;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].RAM_G[7].RAM16X1D_I" LOC = SLICE_X0Y44;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].RAM_G[6].RAM16X1D_I" LOC = SLICE_X0Y44;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].RAM_G[5].RAM16X1D_I" LOC = SLICE_X0Y48;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].RAM_G[4].RAM16X1D_I" LOC = SLICE_X0Y48;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].RAM_G[3].RAM16X1D_I" LOC = SLICE_X0Y44;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].RAM_G[2].RAM16X1D_I" LOC = SLICE_X0Y44;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].RAM_G[1].RAM16X1D_I" LOC = SLICE_X0Y48;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[1].DDR_FIFO[1].RAM_G[0].RAM16X1D_I" LOC = SLICE_X0Y48;


INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].SYS_CNTR_G[0].FFD_I" LOC = SLICE_X1Y44;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].SYS_CNTR_G[1].FFD_I" LOC = SLICE_X1Y44;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].SYS_CNTR_G[2].FFD_I" LOC = SLICE_X1Y44;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[0].SYS_CNTR_G[3].FFD_I" LOC = SLICE_X1Y44;


INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[0].RAM_G[7].RAM16X1D_I" LOC = SLICE_X0Y27;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[0].RAM_G[6].RAM16X1D_I" LOC = SLICE_X0Y27;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[0].RAM_G[5].RAM16X1D_I" LOC = SLICE_X0Y31;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[0].RAM_G[4].RAM16X1D_I" LOC = SLICE_X0Y31;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[0].RAM_G[3].RAM16X1D_I" LOC = SLICE_X0Y27;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[0].RAM_G[2].RAM16X1D_I" LOC = SLICE_X0Y27;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[0].RAM_G[1].RAM16X1D_I" LOC = SLICE_X0Y31;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[0].RAM_G[0].RAM16X1D_I" LOC = SLICE_X0Y31;


INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[1].RAM_G[7].RAM16X1D_I" LOC = SLICE_X0Y29;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[1].RAM_G[6].RAM16X1D_I" LOC = SLICE_X0Y29;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[1].RAM_G[5].RAM16X1D_I" LOC = SLICE_X0Y34;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[1].RAM_G[4].RAM16X1D_I" LOC = SLICE_X0Y34;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[1].RAM_G[3].RAM16X1D_I" LOC = SLICE_X0Y29;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[1].RAM_G[2].RAM16X1D_I" LOC = SLICE_X0Y29;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[1].RAM_G[1].RAM16X1D_I" LOC = SLICE_X0Y34;
INST "*/DDR_WR_FIFO_E/DATA_BYTE_G[1].DDR_DATA_G[1].RAM_G[0].RAM16X1D_I" LOC = SLICE_X0Y34;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].O_CNTR_G[0].FFD_I" LOC = SLICE_X1Y30;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].O_CNTR_G[1].FFD_I" LOC = SLICE_X1Y30;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].O_CNTR_G[2].FFD_I" LOC = SLICE_X1Y30;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].O_CNTR_G[3].FFD_I" LOC = SLICE_X1Y30;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].I_CNTR_G[0].FFD_I" LOC = SLICE_X1Y31;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].I_CNTR_G[1].FFD_I" LOC = SLICE_X1Y31;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].I_CNTR_G[2].FFD_I" LOC = SLICE_X1Y31;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].I_CNTR_G[3].FFD_I" LOC = SLICE_X1Y31;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].RAM_G[7].RAM16X1D_I" LOC = SLICE_X0Y28;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].RAM_G[6].RAM16X1D_I" LOC = SLICE_X0Y28;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].RAM_G[5].RAM16X1D_I" LOC = SLICE_X0Y33;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].RAM_G[4].RAM16X1D_I" LOC = SLICE_X0Y33;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].RAM_G[3].RAM16X1D_I" LOC = SLICE_X0Y28;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].RAM_G[2].RAM16X1D_I" LOC = SLICE_X0Y28;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].RAM_G[1].RAM16X1D_I" LOC = SLICE_X0Y33;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[0].RAM_G[0].RAM16X1D_I" LOC = SLICE_X0Y33;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].I_CNTR_G[0].FFD_I" LOC = SLICE_X1Y32;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].I_CNTR_G[1].FFD_I" LOC = SLICE_X1Y32;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].I_CNTR_G[2].FFD_I" LOC = SLICE_X1Y32;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].I_CNTR_G[3].FFD_I" LOC = SLICE_X1Y32;


INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].RAM_G[7].RAM16X1D_I" LOC = SLICE_X0Y30;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].RAM_G[6].RAM16X1D_I" LOC = SLICE_X0Y30;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].RAM_G[5].RAM16X1D_I" LOC = SLICE_X0Y35;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].RAM_G[4].RAM16X1D_I" LOC = SLICE_X0Y35;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].RAM_G[3].RAM16X1D_I" LOC = SLICE_X0Y30;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].RAM_G[2].RAM16X1D_I" LOC = SLICE_X0Y30;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].RAM_G[1].RAM16X1D_I" LOC = SLICE_X0Y35;
INST "*/*DDR_RD_FIFO_E/FIFO_BYTES_G[0].DDR_FIFO[1].RAM_G[0].RAM16X1D_I" LOC = SLICE_X0Y35;


