#                                                                            #
# Author(s):                                                                 #
#   Miguel Angel Sagreras                                                    #
#                                                                            #
# Copyright (C) 2015                                                         #
#    Miguel Angel Sagreras                                                   #
#                                                                            #
# This source file may be used and distributed without restriction provided  #
# that this copyright statement is not removed from the file and that any    #
# derivative work contains  the original copyright notice and the associated #
# disclaimer.                                                                #
#                                                                            #
# This source file is free software; you can redistribute it and/or modify   #
# it under the terms of the GNU General Public License as published by the   #
# Free Software Foundation, either version 3 of the License, or (at your     #
# option) any later version.                                                 #
#                                                                            #
# This source is distributed in the hope that it will be useful, but WITHOUT #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or      #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for   #
# more details at http://www.gnu.org/licenses/.                              #
#                                                                            #

NET "gpio_sw_e" CLOCK_DEDICATED_ROUTE = FALSE;

NET "sys_clk" TNM_NET = sys_clk;
TIMESPEC ts_sys_clk = PERIOD "sys_clk" 10 ns HIGH 50%;
#NET "TS_dcms_e_gmii_dfs_e_dfs_clkbuf" TNM_NET = iod_clk;

NET "phy_rxclk" TNM_NET = phy_rxclk;
TIMESPEC ts_phy_rxclk = PERIOD "phy_rxclk" 8 ns HIGH 50%;
OFFSET = IN 4 ns VALID 8 ns BEFORE  phy_rxclk falling;
NET "phy_txclk" TNM_NET = phy_txclk;

TIMESPEC ts_phy_txclk = PERIOD "phy_txclk" 8 ns HIGH 50%;
#NET "ddrphy_dqi*"    MAXDELAY = .75 ns;

# ###################### #
# Ignore crossclock time #
# ###################### #
NET sys_clk    TNM_NET = FFS  FFS_sysclk;
NET ddrs_clk0  TNM_NET = FFS  FFS_ddrsclk0;
NET ddrs_clk0  TNM_NET = RAMS RAMS_ddrsclk0;

NET ddrs_clk90 TNM_NET = FFS  FFS_ddrsclk90;
NET ddrs_clk90 TNM_NET = RAMS RAMS_ddrsclk90;
NET input_clk  TNM_NET = FFS  FFS_input;
NET input_clk  TNM_NET = RAMS RAMS_input;
NET gtx_clk    TNM_NET = FFS  FFS_gtxclk;
NET gtx_clk    TNM_NET = RAMS RAMS_gtxclk;

TIMESPEC TS_r2o_ddr2ddr  = FROM RAMS_ddrsclk0 TO FFS_ddrsclk90  TIG;
TIMESPEC TS_f2f_ddr2gtx  = FROM FFS_ddrsclk0  TO FFS_gtxclk     TIG;
TIMESPEC TS_f2f_sclk2ddr = FROM FFS_sysclk    TO FFS_ddrsclk0   TIG;
TIMESPEC TS_f2f_ddr2sclk = FROM FFS_ddrsclk0  TO FFS_sysclk     TIG;
TIMESPEC TS_f2f_sclk2input = FROM FFS_sysclk  TO FFS_input      TIG;

#TIMESPEC TS_ddrt00 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[0].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt01 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[1].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt02 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[2].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt03 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[3].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt04 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[4].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt05 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[5].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt06 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[6].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt07 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[7].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#
#TIMESPEC TS_ddrt10 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[0].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt11 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[1].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt12 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[2].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt13 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[3].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt14 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[4].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt15 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[5].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt16 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[6].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt17 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[7].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#
#TIMESPEC TS_ddrt20 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[0].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt21 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[1].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt22 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[2].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt23 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[3].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt24 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[4].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt25 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[5].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt26 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[6].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt27 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[7].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#
#TIMESPEC TS_ddrt30 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[0].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt31 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[1].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt32 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[2].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt33 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[3].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt34 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[4].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt35 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[5].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt36 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[6].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt37 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[7].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#
#TIMESPEC TS_ddrt40 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[0].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt41 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[1].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt42 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[2].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt43 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[3].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt44 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[4].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt45 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[5].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt46 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[6].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt47 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[7].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#
#TIMESPEC TS_ddrt50 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[0].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt51 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[1].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt52 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[2].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt53 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[3].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt54 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[4].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt55 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[5].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt56 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[6].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt57 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[7].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#
#TIMESPEC TS_ddrt60 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[0].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt61 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[1].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt62 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[2].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt63 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[3].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt64 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[4].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt65 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[5].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt66 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[6].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt67 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[7].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#
#TIMESPEC TS_ddrt70 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[0].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt71 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[1].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt72 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[2].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt73 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[3].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt74 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[4].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt75 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[5].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt76 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[6].omdr_i/reg_g[0].gear2_g.fft_i) TIG;
#TIMESPEC TS_ddrt77 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[7].omdr_i/reg_g[0].gear2_g.fft_i) TIG;


TIMESPEC TS_dqst0 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/dqso_b.omdr_i/reg_g[0].gear2_g.fft_i) TIG;
TIMESPEC TS_dqst1 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/dqso_b.omdr_i/reg_g[0].gear2_g.fft_i) TIG;
TIMESPEC TS_dqst2 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/dqso_b.omdr_i/reg_g[0].gear2_g.fft_i) TIG;
TIMESPEC TS_dqst3 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/dqso_b.omdr_i/reg_g[0].gear2_g.fft_i) TIG;
TIMESPEC TS_dqst4 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/dqso_b.omdr_i/reg_g[0].gear2_g.fft_i) TIG;
TIMESPEC TS_dqst5 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/dqso_b.omdr_i/reg_g[0].gear2_g.fft_i) TIG;
TIMESPEC TS_dqst6 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/dqso_b.omdr_i/reg_g[0].gear2_g.fft_i) TIG;
TIMESPEC TS_dqst7 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/dqso_b.omdr_i/reg_g[0].gear2_g.fft_i) TIG;
# Others #
# ###### #

NET "clk_fpga_p"     IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "clk_fpga_n"     IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ddr2_clk_p[*]" IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2_clk_n[*]" IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2_dqs_p[*]" IOSTANDARD = DIFF_SSTL18_II_DCI;
NET "ddr2_dqs_n[*]" IOSTANDARD = DIFF_SSTL18_II_DCI;
NET "ddr2_d[*]"     IOSTANDARD = SSTL18_II_DCI;
NET "ddr2_dm[*]"    IOSTANDARD = SSTL18_II;
NET "ddr2_we"       IOSTANDARD = SSTL18_II;
NET "ddr2_cas"      IOSTANDARD = SSTL18_II;
NET "ddr2_ras"      IOSTANDARD = SSTL18_II;
NET "ddr2_cs[*]"    IOSTANDARD = SSTL18_II;
NET "ddr2_cke[*]"   IOSTANDARD = SSTL18_II;
NET "ddr2_ba[*]"    IOSTANDARD = SSTL18_II;
NET "ddr2_a[*]"     IOSTANDARD = SSTL18_II;
NET "ddr2_odt[*]"   IOSTANDARD = SSTL18_II;
NET "dvi_gpio1"     IOSTANDARD = SSTL18_II;

#NET "ddr2_scl"       IOSTANDARD = SSTL18_II;
#NET "ddr2_sda"       IOSTANDARD = SSTL18_II;
#NET "gpio_dip_sw[1]" IOSTANDARD = SSTL18_II;

NET "gpio_led[3]" IOSTANDARD = SSTL18_II;
NET "gpio_led[5]" IOSTANDARD = SSTL18_II;
NET "gpio_led[6]" IOSTANDARD = SSTL18_II;
NET "gpio_led[7]" IOSTANDARD = SSTL18_II;

