net "sys_clk" tnm_net = sys_clk;
timespec ts_sys_clk = period "sys_clk" 10 ns high 50%;

net "phy_rxclk" tnm_net = phy_rxclk;
timespec ts_phy_rxclk = period "phy_rxclk" 8 ns high 50%;

net "ddrs_clk0" tnm_net = ddrs_clk0;
net "ddrs_clk90" tnm_net = ddrs_clk90;
net "sys_clk" tnm_net = sys_clk; 
net "gtx_clk" tnm_net = gtx_clk;

net "*ddr2_d[*]"           maxdelay =  350 ps;
net "*ddr2_d[*]"           maxskew  =  100 ps;
net "*ddr2_dm[*]"           maxdelay =  350 ps;
net "*ddr2_dm[*]"           maxskew  =  100 ps;
#
## Data strobe signals
## ###################
#
net "*ddr2_dqs_p[*]"      maxdelay =  375 ps;
net "*ddr2_dqs_p[*]"      maxskew  =   75 ps;
##net "*ddr_delayed_dqs*[*]" maxdelay = 1350 ps;
##net "*ddr_delayed_dqs*[*]" maxskew  =  560 ps;
##net "*video_clk*" maxskew = 1 ns;

net "ddr2_dqs_p[0]" tnm_net = dqs0;
net "ddr2_dqs_p[1]" tnm_net = dqs1;
net "ddr2_dqs_p[0]" CLOCK_DEDICATED_ROUTE = false;
net "ddr2_dqs_p[1]" CLOCK_DEDICATED_ROUTE = false;

TIMESPEC TS_dso0 = PERIOD "dqs0" 3 ns HIGH 50%;
TIMESPEC TS_dso1 = PERIOD "dqs1" TS_dso0  HIGH 50% PHASE 0.0;
#NET "*ddr2_dm[0]" OFFSET = IN  2 ns VALID 0.100 ns BEFORE ddr2_dqs_p[0] RISING;
#NET "*ddr2_dm[1]" OFFSET = IN  2 ns VALID 0.100 ns BEFORE ddr2_dqs_p[1] RISING;
#OFFSET = IN -0.650 ns VALID 0.200 ns BEFORE ddr2_dqs_p[0] RISING;
#OFFSET = IN -0.650 ns VALID 0.200 ns BEFORE ddr2_dqs_p[1] RISING;
#
#NET ddr2_dqs_p[0] TNM_NET = FFS  FFS_dqs0;
#NET ddr2_dqs_p[0] TNM_NET = RAMS RAMS_dqs0;
#NET ddr2_dqs_p[1] TNM_NET = FFS  FFS_dqs1;
#NET ddr2_dqs_p[1] TNM_NET = RAMS RAMS_dqs1;
NET ddrs_clk0     TNM_NET = FFS  FFS_ddrsclk0;
NET ddrs_clk0     TNM_NET = RAMS RAMS_ddrsclk0;
NET ddrs_clk90    TNM_NET = FFS  FFS_ddrsclk90;
NET ddrs_clk90    TNM_NET = RAMS RAMS_ddrsclk90;
NET gtx_clk       TNM_NET = FFS  FFS_gtxclk;
NET gtx_clk       TNM_NET = RAMS RAMS_gtxclk;
##NET input_clk     TNM_NET = FFS  FFS_inputclk;
##NET input_clk     TNM_NET = RAMS RAMS_inputclk;
##NET video_clk     TNM_NET = FFS  FFS_videoclk;
##NET video_clk     TNM_NET = RAMS RAMS_videoclk;



TIMESPEC TS_mpuwri0  = FROM FFS (scope_e/ddr_e/xdr_mpu_e/xdr_wri) TO FFS (ddrphy_e/byte_g[0].ddr3phy_i/dmo_g.ddro_i/oddr_i) TIG;
TIMESPEC TS_mpuwri1  = FROM FFS (scope_e/ddr_e/xdr_mpu_e/xdr_wri) TO FFS (ddrphy_e/byte_g[1].ddr3phy_i/dmo_g.ddro_i/oddr_i) TIG;
TIMESPEC TS_mpuact  = FROM FFS (scope_e/ddr_e/xdr_mpu_e/xdr_mpu_act) TIG;


#TIMESPEC TS_r2fclk_inp2ddr  = FROM RAMS_inputclk TO FFS_ddrsclk0  TIG;
#TIMESPEC TS_f2fclk_inp2ddr  = FROM FFS_inputclk  TO FFS_ddrsclk0  TIG;
#TIMESPEC TS_f2fclk_ddr2inp  = FROM FFS_ddrsclk0  TO FFS_inputclk  TIG;
TIMESPEC TS_r2fclk_ddr0to90 = FROM FFS_ddrsclk0 TO RAMS_ddrsclk90 TIG;
#TIMESPEC TS_f2fclk_ddr0to90 = FROM FFS_ddrsclk0 TO FFS_ddrsclk90 TIG;
TIMESPEC TS_r2fclk_ddr2gtx  = FROM FFS_ddrsclk0  TO FFS_gtxclk   TIG;
TIMESPEC TS_f2fclk_gtx2ddr  = FROM FFS_gtxclk    TO FFS_ddrsclk0  TIG;

## ###### #
## Others #
## ###### #

NET "ddr2_clk_p[*]" IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2_clk_n[*]" IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2_dqs_p[*]" IOSTANDARD = DIFF_SSTL18_II_DCI;
NET "ddr2_dqs_n[*]" IOSTANDARD = DIFF_SSTL18_II_DCI;
NET "ddr2_d[*]"     IOSTANDARD = SSTL18_II_DCI;
NET "ddr2_dm[*]"    IOSTANDARD = SSTL18_II;
NET "ddr2_we"       IOSTANDARD = SSTL18_II;
NET "ddr2_cas"      IOSTANDARD = SSTL18_II;
NET "ddr2_ras"      IOSTANDARD = SSTL18_II;
NET "ddr2_cs[*]"    IOSTANDARD = SSTL18_II;
NET "ddr2_cke[*]"   IOSTANDARD = SSTL18_II;
NET "ddr2_ba[*]"    IOSTANDARD = SSTL18_II;
NET "ddr2_a[*]"     IOSTANDARD = SSTL18_II;
NET "ddr2_odt[*]"   IOSTANDARD = SSTL18_II;
NET "dvi_gpio1"     IOSTANDARD = SSTL18_II;

#NET "ddr2_scl"       IOSTANDARD = SSTL18_II;
#NET "ddr2_sda"       IOSTANDARD = SSTL18_II;
#NET "gpio_dip_sw[1]" IOSTANDARD = SSTL18_II;

NET "gpio_led[3]" IOSTANDARD = SSTL18_II;
NET "gpio_led[5]" IOSTANDARD = SSTL18_II;
NET "gpio_led[6]" IOSTANDARD = SSTL18_II;
NET "gpio_led[7]" IOSTANDARD = SSTL18_II;

# ########### #
# Data Byte 0 #
# ########### #

# Read FIFO #
# ######### #

## Delayed DSQ Taps #
#
#INST "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/lutn" LOC = SLICE_X2Y28;
#INST "*/ddr_rd_fifo_e/fifo_bytes_g[1].dqs_delayed_e/lutp" LOC = SLICE_X2Y28;
#
#
## Delayed DSQ Taps #
#
#INST "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/lutn" LOC = SLICE_X2Y48;
#INST "*/ddr_rd_fifo_e/fifo_bytes_g[0].dqs_delayed_e/lutp" LOC = SLICE_X2Y48;

