body {
	background-color : lightblue }

#address {
	width   : 100%;
}

input[type=button] {
	width   : 100%;
	display : inline-block;
	border  : 1px solid lightgray;
	text-decoration : none;
}

select {
	direction : rtl;
	text-align : right;
	text-align-last : right;
}


div {
	text-align : left }
