#                                                                            #
# Author(s):                                                                 #
#   Miguel Angel Sagreras                                                    #
#                                                                            #
# Copyright (C) 2015                                                         #
#    Miguel Angel Sagreras                                                   #
#                                                                            #
# This source file may be used and distributed without restriction provided  #
# that this copyright statement is not removed from the file and that any    #
# derivative work contains  the original copyright notice and the associated #
# disclaimer.                                                                #
#                                                                            #
# This source file is free software; you can redistribute it and/or modify   #
# it under the terms of the GNU General Public License as published by the   #
# Free Software Foundation, either version 3 of the License, or (at your     #
# option) any later version.                                                 #
#                                                                            #
# This source is distributed in the hope that it will be useful, but WITHOUT #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or      #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for   #
# more details at http://www.gnu.org/licenses/.                              #
#                                                                            #

NET "user_clk" TNM_NET = user_clk;
TIMESPEC ts_user_clk = PERIOD "user_clk" 10 ns HIGH 50%;

NET "phy_rxclk_bufg" TNM_NET = phy_rxclk_bufg;
TIMESPEC ts_phy_rxclk = PERIOD "phy_rxclk_bufg" 8 ns HIGH 50%;
OFFSET = IN 4 ns VALID 8 ns BEFORE  phy_rxclk_bufg falling;

NET "phy_txclk" TNM_NET = phy_txclk;
TIMESPEC ts_phy_txclk = PERIOD "phy_txclk" 8 ns HIGH 50%;

NET "gpio_led[0]"    IOSTANDARD = LVCMOS25;
NET "gpio_led[1]"    IOSTANDARD = LVCMOS25;
NET "gpio_led[2]"    IOSTANDARD = LVCMOS25;
NET "gpio_led[4]"    IOSTANDARD = LVCMOS25;
NET "gpio_sw_c"      IOSTANDARD = LVCMOS25;
NET "gpio_sw_n"      IOSTANDARD = LVCMOS25;
NET "gpio_sw_s"      IOSTANDARD = LVCMOS25;
NET "gpio_sw_e"      IOSTANDARD = LVCMOS25;
NET "gpio_sw_w"      IOSTANDARD = LVCMOS25;

# NET "clk_fpga_p"     IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
# NET "clk_fpga_n"     IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "phy_col"        IOSTANDARD = LVCMOS25;
NET "phy_crs"        IOSTANDARD = LVCMOS25;
NET "phy_int"        IOSTANDARD = LVCMOS25;
NET "phy_mdc"        IOSTANDARD = LVCMOS25;
NET "phy_mdio"       IOSTANDARD = LVCMOS25;
NET "phy_reset"      IOSTANDARD = LVCMOS25;
NET "phy_rxclk"      IOSTANDARD = LVCMOS25;
NET "phy_rxctl_rxdv" IOSTANDARD = LVCMOS25;
NET "phy_rxd[*]"     IOSTANDARD = LVCMOS25;
NET "phy_rxer"       IOSTANDARD = LVCMOS25;
NET "phy_txc_gtxclk" IOSTANDARD = LVCMOS25;
NET "phy_txclk"      IOSTANDARD = LVCMOS25;
NET "phy_txctl_txen" IOSTANDARD = LVCMOS25;
NET "phy_txd[*]"     IOSTANDARD = LVCMOS25;
NET "phy_txer"       IOSTANDARD = LVCMOS25;



NET "dvi_xclk_p"     IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "dvi_xclk_n"     IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "dvi_gpio1"      IOSTANDARD = LVCMOS25;
NET "dvi_reset_b"    IOSTANDARD = LVCMOS25;
NET "dvi_d[*]"       IOSTANDARD = LVCMOS25;
NET "dvi_de"         IOSTANDARD = LVCMOS25;
NET "dvi_v"          IOSTANDARD = LVCMOS25;
NET "dvi_h"          IOSTANDARD = LVCMOS25;