BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
BLOCK INTERCLOCKDOMAIN PATHS;
## ULX4M-LS v0.0.3

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# ################## #
# JTAG and SPI FLASH #
# ################## #

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# ######## #
# PROGRAMN #
# ######## #

# (reload bitstream from FLASH, exit from bootloader)
# PCB v2.0.5 and higher
LOCATE COMP "user_programn" SITE "E8"; IOBUF  PORT "user_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# ########################## #
# "blinkey" and "gpio" sheet #
# ########################## #

# LEDs #

LOCATE COMP "led[7]" SITE "D3"; IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[6]" SITE "D1"; IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[5]" SITE "C1"; IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[4]" SITE "C2"; IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[3]" SITE "C3"; IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[2]" SITE "B2"; IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[1]" SITE "B3"; IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[0]" SITE "A3"; IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;


# Buttons # 

LOCATE COMP "btn[0]" SITE "E1";  IOBUF  PORT "btn[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "btn[1]" SITE "D2";  IOBUF  PORT "btn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "btn[2]" SITE "F1";  IOBUF  PORT "btn[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "btn[3]" SITE "A16"; IOBUF  PORT "btn[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "btn[4]" SITE "B16"; IOBUF  PORT "btn[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "btn[5]" SITE "B17"; IOBUF  PORT "btn[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "btn[6]" SITE "C17"; IOBUF  PORT "btn[6]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;


# Switches # 

LOCATE COMP "sw[0]" SITE "L18"; IOBUF  PORT "sw[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sw[1]" SITE "K18"; IOBUF  PORT "sw[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# ############################ #
# SPI Flash chip "flash" sheet #
# ############################ #

LOCATE COMP "flash_csn" SITE "R2";            IOBUF PORT "flash_csn"           PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "flash_clk" SITE "U3";            IOBUF PORT "flash_clk"           PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "flash_mosi" SITE "W2";           IOBUF PORT "flash_mosi"          PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "flash_miso" SITE "V2";           IOBUF PORT "flash_miso"          PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "flash_holdn" SITE "W1";          IOBUF PORT "flash_holdn"         PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "flash_wpn" SITE "Y2";            IOBUF PORT "flash_wpn"           PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "flash_csspin"        SITE "AJ3"; IOBUF PORT "flash_csspin"        PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "flash_initn"         SITE "AG4"; IOBUF PORT "flash_initn"         PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "flash_done"          SITE "AJ4"; IOBUF PORT "flash_done"          PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "flash_programn"      SITE "AH4"; IOBUF PORT "flash_programn"      PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "flash_cfg_select[0]" SITE "AM4"; IOBUF PORT "flash_cfg_select[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "flash_cfg_select[1]" SITE "AL4"; IOBUF PORT "flash_cfg_select[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "flash_cfg_select[2]" SITE "AK4"; IOBUF PORT "flash_cfg_select[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

# ############################# #
# SD card "sdcard", "usb" sheet #
# ############################# #

LOCATE COMP "sd_clk"    SITE "H2";  IOBUF PORT "sd_clk"    PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_clk WiFi_GPIO14 CM4_GPIO12
LOCATE COMP "sd_cmd"    SITE "J1";  IOBUF PORT "sd_cmd"    PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_cmd_di  (MOSI) WiFi_GPIO15 CM4_GPIO27
LOCATE COMP "sd_d[0]"   SITE "J3";  IOBUF PORT "sd_d[0]"   PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_dat0_do (MISO) WiFi_GPIO2 CM4_GPIO4 
LOCATE COMP "sd_d[1]"   SITE "H1";  IOBUF PORT "sd_d[1]"   PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_dat1_irq WiFi_GPIO4 CM4_GPIO3
LOCATE COMP "sd_d[2]"   SITE "K1";  IOBUF PORT "sd_d[2]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # sd_dat2 WiFi_GPIO12  CM4_GPIO2; WiFi GPIO12 pulldown bootstrapping requirement
LOCATE COMP "sd_d[3]"   SITE "K2";  IOBUF PORT "sd_d[3]"   PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_dat3_csn WiFi_GPIO13  CM4_GPIO14
LOCATE COMP "sd_wp"     SITE "P5";  IOBUF PORT "sd_wp"     PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # not connected
LOCATE COMP "sd_cdn"    SITE "N5";  IOBUF PORT "sd_cdn"    PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # not connected
LOCATE COMP "sd_pwr_on" SITE "U17"; IOBUF PORT "sd_pwr_on" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # J2_5-  GN14

# ################################################################# #
# Second USB port "US2" going directly into FPGA "usb", "ram" sheet #
# ################################################################# #

LOCATE COMP "usb_fpga_d"      SITE "A6";  IOBUF PORT "usb_fpga_dp"     PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=16; # same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_bd_d"   SITE "F4";  IOBUF PORT "usb_fpga_bd_d"   PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=4;  # single-ended bidirectional same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_pu_d"   SITE "F5";  IOBUF PORT "usb_fpga_pu_d"   PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=16; # pull up/down control
LOCATE COMP "usb_fpga_dn"     SITE "B6";  IOBUF PORT "usb_fpga_dn"     PULLMODE=NONE IO_TYPE=LVCMOS33  DRIVE=16; # same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_bd_dn"  SITE "E3";  IOBUF PORT "usb_fpga_bd_dn"  PULLMODE=NONE IO_TYPE=LVCMOS33  DRIVE=4;  # single-ended bidirectional same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_pu_dn"  SITE "E5";  IOBUF PORT "usb_fpga_pu_dn"  PULLMODE=NONE IO_TYPE=LVCMOS33  DRIVE=16;
LOCATE COMP "usb_fpga_otg_id" SITE "D9";  IOBUF PORT "usb_fpga_otg_id" PULLMODE=UP   IO_TYPE=LVCMOS33  DRIVE=4;
LOCATE COMP "n_extrst"        SITE "U16"; IOBUF PORT "n_extrst"        PULLMODE=UP   IO_TYPE=LVCMOS33  DRIVE=4;

# ####################### #
# JTAG ESP-32 "usb" sheet #
# ####################### #

# connected to FT231X and ESP-32
# commented out because those are dedicated pins, not directly useable as GPIO
# but could be used by some vendor-specific JTAG bridging (boundary scan) module

#LOCATE COMP "jtag_tdi" SITE "R5"; IOBUF  PORT "jtag_tdi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; # FTDI_nRI   FPGA receives
#LOCATE COMP "jtag_tdo" SITE "V4"; IOBUF  PORT "jtag_tdo" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; # FTDI_nCTS  FPGA transmits
#LOCATE COMP "jtag_tck" SITE "T5"; IOBUF  PORT "jtag_tck" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; # FTDI_nDSR  FPGA receives
#LOCATE COMP "jtag_tms" SITE "U5"; IOBUF  PORT "jtag_tms" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; # FTDI_nDCD  FPGA receives

# ################# # 
# SDRAM "ram" sheet #
# ################# # 

LOCATE COMP "sdram_clk"    SITE "L20"; IOBUF PORT "sdram_clk"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_cke"    SITE "J17"; IOBUF PORT "sdram_cke"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_csn"    SITE "D20"; IOBUF PORT "sdram_csn"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_wen"    SITE "E19"; IOBUF PORT "sdram_wen"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_rasn"   SITE "G16"; IOBUF PORT "sdram_rasn"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_casn"   SITE "H20"; IOBUF PORT "sdram_casn"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[0]"   SITE "H16"; IOBUF PORT "sdram_a[0]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[1]"   SITE "D19"; IOBUF PORT "sdram_a[1]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[2]"   SITE "F16"; IOBUF PORT "sdram_a[2]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[3]"   SITE "E18"; IOBUF PORT "sdram_a[3]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[4]"   SITE "T19"; IOBUF PORT "sdram_a[4]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[5]"   SITE "T18"; IOBUF PORT "sdram_a[5]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[6]"   SITE "J16"; IOBUF PORT "sdram_a[6]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[7]"   SITE "P18"; IOBUF PORT "sdram_a[7]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[8]"   SITE "T20"; IOBUF PORT "sdram_a[8]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[9]"   SITE "L19"; IOBUF PORT "sdram_a[9]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[10]"  SITE "C20"; IOBUF PORT "sdram_a[10]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[11]"  SITE "K19"; IOBUF PORT "sdram_a[11]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_a[12]"  SITE "R20"; IOBUF PORT "sdram_a[12]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_ba[0]"  SITE "J19"; IOBUF PORT "sdram_ba[0]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_ba[1]"  SITE "L16"; IOBUF PORT "sdram_ba[1]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_dqm[0]" SITE "E20"; IOBUF PORT "sdram_dqm[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_dqm[1]" SITE "P20"; IOBUF PORT "sdram_dqm[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[0]"   SITE "J18"; IOBUF PORT "sdram_d[0]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[1]"   SITE "G20"; IOBUF PORT "sdram_d[1]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[2]"   SITE "G19"; IOBUF PORT "sdram_d[2]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[3]"   SITE "E16"; IOBUF PORT "sdram_d[3]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[4]"   SITE "F19"; IOBUF PORT "sdram_d[4]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[5]"   SITE "F20"; IOBUF PORT "sdram_d[5]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[6]"   SITE "H18"; IOBUF PORT "sdram_d[6]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[7]"   SITE "F18"; IOBUF PORT "sdram_d[7]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[8]"   SITE "P19"; IOBUF PORT "sdram_d[8]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[9]"   SITE "N17"; IOBUF PORT "sdram_d[9]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[10]"  SITE "M18"; IOBUF PORT "sdram_d[10]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[11]"  SITE "N20"; IOBUF PORT "sdram_d[11]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[12]"  SITE "N19"; IOBUF PORT "sdram_d[12]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[13]"  SITE "M20"; IOBUF PORT "sdram_d[13]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[14]"  SITE "M19"; IOBUF PORT "sdram_d[14]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sdram_d[15]"  SITE "L17"; IOBUF PORT "sdram_d[15]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# ################################################ #
# GPDI differential interface (Video) "gpdi" sheet #
# ################################################ #


LOCATE COMP "gpdi_cec"  SITE "A18"; IOBUF PORT "gpdi_cec"  IO_TYPE=LVCMOS33  PULLMODE=UP DRIVE=4;
LOCATE COMP "gpdi_d[0]" SITE "F17"; IOBUF PORT "gpdi_d[0]" IO_TYPE=LVCMOS33D SLEWRATE=FAST; # Blue +
LOCATE COMP "gpdi_d[1]" SITE "D18"; IOBUF PORT "gpdi_d[1]" IO_TYPE=LVCMOS33D SLEWRATE=FAST; # Green +
LOCATE COMP "gpdi_d[2]" SITE "C18"; IOBUF PORT "gpdi_d[2]" IO_TYPE=LVCMOS33D SLEWRATE=FAST; # Red +
LOCATE COMP "gpdi_d[3]" SITE "J20"; IOBUF PORT "gpdi_d[3]" IO_TYPE=LVCMOS33D SLEWRATE=FAST; # Clock +
#LOCATE COMP "gpdi_d[4]" SITE "B9";  IOBUF PORT "gpdi_d[4]" IO_TYPE=LVCMOS33D DRIVE=4; # Blue +
#LOCATE COMP "gpdi_d[5]" SITE "A7";  IOBUF PORT "gpdi_d[5]" IO_TYPE=LVCMOS33D DRIVE=4; # Green +
#LOCATE COMP "gpdi_d[6]" SITE "C8";  IOBUF PORT "gpdi_d[6]" IO_TYPE=LVCMOS33D DRIVE=4; # Red +
#LOCATE COMP "gpdi_d[7]" SITE "B11"; IOBUF PORT "gpdi_d[7]" IO_TYPE=LVCMOS33D DRIVE=4; # Clock +

LOCATE COMP "cam_enable" SITE "U19"; IOBUF PORT "cam_enable" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # CAM_GPIO
LOCATE COMP "gpio_scl"   SITE "J3";  IOBUF PORT "gpio_sda"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # SCL1 - WIFI_GPIO22 rasp-GPIO0
LOCATE COMP "gpio_sda"   SITE "H1";  IOBUF PORT "gpio_scl"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # SDA1 - WIFI_GPIO21 rasp-GPIO1
LOCATE COMP "cam_sda"    SITE "T17"; IOBUF PORT "cam_sda"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # SDA0 - FPGA only CAM1
LOCATE COMP "cam_scl"    SITE "U17"; IOBUF PORT "cam_scl"    PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # SCL0 - FPGA only CAM1 


# GPIO 0 and 1 are SCL0
#LOCATE COMP "gpio[0]" SITE "T17"; IOBUF PORT "gpio[0]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # SDA0 - FPGA only CAM1
#LOCATE COMP "gpio[1]" SITE "U17"; IOBUF PORT "gpio[1]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # SCL0 - FPGA only CAM1 

LOCATE COMP "gpio[2]"  SITE "M17"; IOBUF PORT "gpio[2]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[3]"  SITE "P17"; IOBUF PORT "gpio[3]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[4]"  SITE "P16"; IOBUF PORT "gpio[4]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[5]"  SITE "N1";  IOBUF PORT "gpio[5]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[6]"  SITE "R1";  IOBUF PORT "gpio[6]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[7]"  SITE "P3";  IOBUF PORT "gpio[7]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[8]"  SITE "P4";  IOBUF PORT "gpio[8]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[9]"  SITE "L5";  IOBUF PORT "gpio[9]"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[10]" SITE "K4";  IOBUF PORT "gpio[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[11]" SITE "N2";  IOBUF PORT "gpio[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[12]" SITE "L2";  IOBUF PORT "gpio[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[13]" SITE "D6";  IOBUF PORT "gpio[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[14]" SITE "N18"; IOBUF PORT "gpio[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[15]" SITE "N16"; IOBUF PORT "gpio[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[16]" SITE "L1";  IOBUF PORT "gpio[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[17]" SITE "H3";  IOBUF PORT "gpio[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[18]" SITE "N5";  IOBUF PORT "gpio[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[19]" SITE "U1";  IOBUF PORT "gpio[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[20]" SITE "L3";  IOBUF PORT "gpio[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[21]" SITE "L4";  IOBUF PORT "gpio[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[22]" SITE "M3";  IOBUF PORT "gpio[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[23]" SITE "N4";  IOBUF PORT "gpio[23]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[24]" SITE "N3";  IOBUF PORT "gpio[24]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[25]" SITE "P5";  IOBUF PORT "gpio[25]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[26]" SITE "V1";  IOBUF PORT "gpio[26]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "gpio[27]" SITE "R17"; IOBUF PORT "gpio[27]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "nEXTRST"   SITE "U20"; IOBUF PORT "nEXTRST"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "GLOBAL_EN" SITE "U18"; IOBUF PORT "GLOBAL_EN" PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "RUN_PG"    SITE "U16"; IOBUF PORT "RUN_PG"    PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4;

# Ethernet
FREQUENCY PORT "RGMII_REF_CLK" 50 MHZ;
FREQUENCY PORT "RGMII_TX_CLK" 50 MHZ;

LOCATE COMP "RGMII_REF_CLK" SITE "H2"; IOBUF PORT "RGMII_REF_CLK" PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "RGMII_TX_CLK" SITE "H4";  IOBUF PORT "RGMII_TX_CLK"  PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "RGMII_TX_EN" SITE "K3";   IOBUF PORT "RGMII_TX_EN"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "RGMII_TXD[0]" SITE "K5";  IOBUF PORT "RGMII_TXD[0]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "RGMII_TXD[1]" SITE "J4";  IOBUF PORT "RGMII_TXD[1]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "RGMII_RX_DV" SITE "J1";   IOBUF PORT "RGMII_RX_DV"   PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "RGMII_RXD[0]" SITE "K1";  IOBUF PORT "RGMII_RXD[0]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "RGMII_RXD[1]" SITE "K2";  IOBUF PORT "RGMII_RXD[1]"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ETH_MDC" SITE "J5";       IOBUF PORT "ETH_MDC"       PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "ETH_MDIO" SITE "E6";      IOBUF PORT "ETH_MDIO"      PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "ETH_nRESET" SITE "G5";    IOBUF PORT "ETH_nRESET"    PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## DSI
FREQUENCY PORT "dsiRX0_clk_dp" 75 MHZ;

LOCATE COMP "dsiRX0_clk_dp" SITE "F2"; IOBUF PORT "dsiRX0_clk_dp" DIFFRESISTOR=100 IO_TYPE=LVDS; # IOBUF PORT "dsiRX0_clk_dp" IO_TYPE=LVDS; # Clk + B12
#LOCATE COMP "dsiRX0_clk_dn" SITE "E2"; #IOBUF PORT "dsiRX0_clk_dn" DIFFRESISTOR=100 IO_TYPE=LVDS; # Clk - C12
LOCATE COMP "dsiRX0_dp[0]" SITE "A4"; # DSI RX D0 + F17
#LOCATE COMP "dsiRX0_dn[0]" SITE "A5"; # DSI RX D0 - 
LOCATE COMP "dsiRX0_dp[1]" SITE "A2"; # DSI RX D1 + D18
#LOCATE COMP "dsiRX0_dn[1]" SITE "B1"; # DSI RX D1 -
IOBUF PORT "dsiRX0_dp[0]" DIFFRESISTOR=100 IO_TYPE=LVDS;
#IOBUF PORT "dsiRX0_dn[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "dsiRX0_dp[1]" DIFFRESISTOR=100 IO_TYPE=LVDS;
#IOBUF PORT "dsiRX0_dn[1]" IO_TYPE=LVCMOS12;

LOCATE COMP "dsiRX0_lp" SITE "B5"; CAM0 LP signal
IOBUF PORT "dsiRX0_lp"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

FREQUENCY PORT "dsiRX1_clk_dp" 75 MHZ;

LOCATE COMP "dsiRX1_clk_dp" SITE "G3"; # Clk + B12
IOBUF PORT "dsiRX1_clk_dp" DIFFRESISTOR=100 IO_TYPE=LVDS;
#LOCATE COMP "dsiRX1_clk_dn" SITE "F3"; # Clk - C12
#IOBUF PORT "dsiRX1_clk_dn" DIFFRESISTOR=100 IO_TYPE=LVDS;

LOCATE COMP "dsiRX1_dp[0]" SITE "C4"; # DSI RX D0 + F17
#LOCATE COMP "dsiRX1_dn[0]" SITE "B4"; # DSI RX D0 - 
LOCATE COMP "dsiRX1_dp[1]" SITE "E4"; # DSI RX D1 + D18
#LOCATE COMP "dsiRX1_dn[1]" SITE "D5"; # DSI RX D1 -
#IOBUF PORT "dsiRX1_dp[0]" IO_TYPE=LVDS;
IOBUF PORT "dsiRX1_dp[0]" DIFFRESISTOR=100 IO_TYPE=LVDS;
#IOBUF PORT "dsiRX1_dn[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "dsiRX1_dp[1]" DIFFRESISTOR=100 IO_TYPE=LVDS;
##IOBUF PORT "dsiRX1_dp[1]" IO_TYPE=LVDS;

#IOBUF PORT "dsiRX1_dn[1]" IO_TYPE=LVCMOS12;

#LOCATE COMP "dsiTX0_dp[0]" SITE "D12"; # Clk +
#LOCATE COMP "dsiTX0_dn[0]" SITE "E12"; # Clk -
#LOCATE COMP "dsiTX0_dp[1]" SITE "D13"; # DSI TX D0 +
#LOCATE COMP "dsiTX0_dn[1]" SITE "E13"; # DSI TX D0 -
#LOCATE COMP "dsiTX0_dp[2]" SITE "A14"; # DSI TX D1 +
#LOCATE COMP "dsiTX0_dn[2]" SITE "C14"; # DSI TX D1 -

#IOBUF PORT "dsiTX0_dp[0]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[0]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[1]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[1]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[2]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[2]" IO_TYPE=LVCMOS12 ;

## SHUTDOWN "power", "ram" sheet (connected from PCB v1.7.5)
# on PCB v1.7 shutdown is not connected to FPGA
LOCATE COMP "shutdown" SITE "U20"; # FPGA receives
IOBUF  PORT "shutdown" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
