BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "seg_1"  SITE "V6" ;
LOCATE COMP "seg_2"  SITE "U7" ;
LOCATE COMP "seg_3"  SITE "Y6" ;
LOCATE COMP "seg_4"  SITE "AA6" ;
LOCATE COMP "seg_5"  SITE "U8" ;
LOCATE COMP "seg_6"  SITE "T8" ;
LOCATE COMP "seg_7"  SITE "R9" ;
LOCATE COMP "seg_8"  SITE "T9" ;
LOCATE COMP "seg_9"  SITE "AB3" ;
LOCATE COMP "seg_10" SITE "AB4" ;
LOCATE COMP "seg_11" SITE "W4" ;
LOCATE COMP "seg_12" SITE "Y5" ;
LOCATE COMP "seg_13" SITE "AA4" ;
LOCATE COMP "seg_14" SITE "AA5" ;
LOCATE COMP "dp" SITE "W5" ;
IOBUF  PORT "seg_1" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_2" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_3" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_4" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_5" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_6" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_7" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_8" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_9" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_10" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_11" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_12" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_13" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "seg_14" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
IOBUF  PORT "dp" IO_TYPE=LVCMOS25 TERMINATEVTT=OFF PULLMODE=UP DRIVE=12 SLEWRATE=SLOW PCICLAMP=ON OPENDRAIN=OFF DIFFRESISTOR=OFF DIFFDRIVE="NA" MULTDRIVE="NA" EQ_CAL=NA ;
