body {
	background-color : white; }

input[type=button] {
	width   : 100%;
	display : inline-block;
	border  : 1px solid lightgray;
	text-decoration : none;
}

input.vertical {
	width : 50;
	display : inline-block;
	height  : 200;
	background-color : gray;
	-webkit-appearance: slider-vertical;
	writing-mode: bt-lr;
}

