#                                                                            #
# Author(s):                                                                 #
#   Miguel Angel Sagreras                                                    #
#                                                                            #
# Copyright (C) 2015                                                         #
#    Miguel Angel Sagreras                                                   #
#                                                                            #
# This source file may be used and distributed without restriction provided  #
# that this copyright statement is not removed from the file and that any    #
# derivative work contains  the original copyright notice and the associated #
# disclaimer.                                                                #
#                                                                            #
# This source file is free software; you can redistribute it and/or modify   #
# it under the terms of the GNU General Public License as published by the   #
# Free Software Foundation, either version 3 of the License, or (at your     #
# option) any later version.                                                 #
#                                                                            #
# This source is distributed in the hope that it will be useful, but WITHOUT #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or      #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for   #
# more details at http://www.gnu.org/licenses/.                              #
#                                                                            #

NET "gpio_sw_e" CLOCK_DEDICATED_ROUTE = FALSE;

NET "sys_clk" TNM_NET = sys_clk;
TIMESPEC ts_sys_clk = PERIOD "sys_clk" 10 ns HIGH 50%;

NET "phy_rxclk" TNM_NET = phy_rxclk;
TIMESPEC ts_phy_rxclk = PERIOD "phy_rxclk" 8 ns HIGH 50%;
OFFSET = IN 4 ns VALID 8 ns BEFORE  phy_rxclk falling;
NET "phy_txclk" TNM_NET = phy_txclk;

TIMESPEC ts_phy_txclk = PERIOD "phy_txclk" 8 ns HIGH 50%;
 
# ###################### #
# Ignore crossclock time #
# ###################### #
NET sys_clk    TNM_NET = FFS  FFS_sysclk;
NET ddrs_clk0  TNM_NET = FFS  FFS_ddrsclk0;
NET ddrs_clk0  TNM_NET = RAMS RAMS_ddrsclk0;

NET ddrs_clk90 TNM_NET = FFS  FFS_ddrsclk90;
NET ddrs_clk90 TNM_NET = RAMS RAMS_ddrsclk90;
NET input_clk  TNM_NET = FFS  FFS_input;
NET input_clk  TNM_NET = RAMS RAMS_input;
NET gtx_clk    TNM_NET = FFS  FFS_gtxclk;
NET gtx_clk    TNM_NET = RAMS RAMS_gtxclk;

TIMESPEC TS_r2r_ddr2sys    = FROM FFS_ddrsclk0 TO FFS_sysclk TIG;
#TIMESPEC TS_r2r_inp2sys    = FROM FFS_input    TO FFS_sysclk TIG;
#TIMESPEC TS_r2r_gtx2sys    = FROM FFS_gtxclk   TO FFS_sysclk TIG;

TIMESPEC TS_r2f_ddr2ddr    = FROM RAMS_ddrsclk0 TO FFS_ddrsclk90  TIG;
TIMESPEC TS_f2f_ddr2gtx    = FROM FFS_ddrsclk0  TO FFS_gtxclk     TIG;
#TIMESPEC TS_f2f_gtx2ddr    = FROM FFS_gtxclk    TO FFS_ddrsclk90  TIG;
#TIMESPEC TS_f2r_ddr2gtx    = FROM FFS_ddrsclk0  TO RAMS_gtxclk     TIG;
TIMESPEC TS_f2f_input2ddr  = FROM FFS_input     TO FFS_ddrsclk0   TIG;
TIMESPEC TS_f2f_ddr2input  = FROM FFS_ddrsclk0  TO FFS_input      TIG;

NET "ddr2_dqs_p[*]" CLOCK_DEDICATED_ROUTE = FALSE;

NET "ddr2_dqs_p[0]" TNM_NET = dqs0;
NET "ddr2_dqs_p[1]" TNM_NET = dqs1;
NET "ddr2_dqs_p[2]" TNM_NET = dqs2;
NET "ddr2_dqs_p[3]" TNM_NET = dqs3;
NET "ddr2_dqs_p[4]" TNM_NET = dqs4;
NET "ddr2_dqs_p[5]" TNM_NET = dqs5;
NET "ddr2_dqs_p[6]" TNM_NET = dqs6;
NET "ddr2_dqs_p[7]" TNM_NET = dqs7;

TIMESPEC TS_dso0 = PERIOD "dqs0" 3.750 ns HIGH 50%;
TIMESPEC TS_dso1 = PERIOD "dqs1" TS_dso0 HIGH 50% PHASE 0.0;
TIMESPEC TS_dso2 = PERIOD "dqs2" TS_dso0 HIGH 50% PHASE 0.0;
TIMESPEC TS_dso3 = PERIOD "dqs3" TS_dso0 HIGH 50% PHASE 0.0;
TIMESPEC TS_dso4 = PERIOD "dqs4" TS_dso0 HIGH 50% PHASE 0.0;
TIMESPEC TS_dso5 = PERIOD "dqs5" TS_dso0 HIGH 50% PHASE 0.0;
TIMESPEC TS_dso6 = PERIOD "dqs6" TS_dso0 HIGH 50% PHASE 0.0;
TIMESPEC TS_dso7 = PERIOD "dqs7" TS_dso0 HIGH 50% PHASE 0.0;

NET "ddr2_dm[0]" OFFSET = IN 1.4375 ns VALID 1.750 ns BEFORE ddr2_dqs_p[0] RISING;
NET "ddr2_dm[1]" OFFSET = IN 1.4375 ns VALID 1.750 ns BEFORE ddr2_dqs_p[1] RISING;
NET "ddr2_dm[2]" OFFSET = IN 1.4375 ns VALID 1.750 ns BEFORE ddr2_dqs_p[2] RISING;
NET "ddr2_dm[3]" OFFSET = IN 1.4375 ns VALID 1.750 ns BEFORE ddr2_dqs_p[3] RISING;
NET "ddr2_dm[4]" OFFSET = IN 1.4375 ns VALID 1.750 ns BEFORE ddr2_dqs_p[4] RISING;
NET "ddr2_dm[5]" OFFSET = IN 1.4375 ns VALID 1.750 ns BEFORE ddr2_dqs_p[5] RISING;
NET "ddr2_dm[6]" OFFSET = IN 1.4375 ns VALID 1.750 ns BEFORE ddr2_dqs_p[6] RISING;
NET "ddr2_dm[7]" OFFSET = IN 1.4375 ns VALID 1.750 ns BEFORE ddr2_dqs_p[7] RISING;

OFFSET = IN -0.700 ns VALID 0.400 ns BEFORE ddr2_dqs_p[0] RISING;
OFFSET = IN -0.700 ns VALID 0.400 ns BEFORE ddr2_dqs_p[1] RISING;
OFFSET = IN -0.700 ns VALID 0.400 ns BEFORE ddr2_dqs_p[2] RISING;
OFFSET = IN -0.700 ns VALID 0.400 ns BEFORE ddr2_dqs_p[3] RISING;
OFFSET = IN -0.700 ns VALID 0.400 ns BEFORE ddr2_dqs_p[4] RISING;
OFFSET = IN -0.700 ns VALID 0.400 ns BEFORE ddr2_dqs_p[5] RISING;
OFFSET = IN -0.700 ns VALID 0.400 ns BEFORE ddr2_dqs_p[6] RISING;
OFFSET = IN -0.700 ns VALID 0.400 ns BEFORE ddr2_dqs_p[7] RISING;

TIMESPEC TS_dqst0 = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/dqso_b.ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqst1 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/dqso_b.ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqst2 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/dqso_b.ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqst3 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/dqso_b.ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqst4 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/dqso_b.ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqst5 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/dqso_b.ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqst6 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/dqso_b.ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqst7 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/dqso_b.ddrto_i/ffd_i) 7.5 ns;


TIMESPEC TS_dqt0  = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[0].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt1  = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[1].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt2  = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[2].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt3  = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[3].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt4  = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[4].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt5  = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[5].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt6  = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[6].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt7  = TO FFS (ddrphy_e/byte_g[0].ddrdqphy_i/oddr_g[7].ddrto_i/ffd_i) 7.5 ns;

TIMESPEC TS_dqt8  = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[0].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt9  = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[1].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt10 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[2].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt11 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[3].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt12 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[4].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt13 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[5].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt14 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[6].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt15 = TO FFS (ddrphy_e/byte_g[1].ddrdqphy_i/oddr_g[7].ddrto_i/ffd_i) 7.5 ns;

TIMESPEC TS_dqt16 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[0].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt17 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[1].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt18 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[2].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt19 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[3].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt20 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[4].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt21 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[5].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt22 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[6].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt23 = TO FFS (ddrphy_e/byte_g[2].ddrdqphy_i/oddr_g[7].ddrto_i/ffd_i) 7.5 ns;

TIMESPEC TS_dqt24 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[0].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt25 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[1].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt26 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[2].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt27 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[3].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt28 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[4].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt29 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[5].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt30 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[6].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt31 = TO FFS (ddrphy_e/byte_g[3].ddrdqphy_i/oddr_g[7].ddrto_i/ffd_i) 7.5 ns;

TIMESPEC TS_dqt32 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[0].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt33 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[1].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt34 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[2].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt35 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[3].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt36 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[4].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt37 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[5].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt38 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[6].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt39 = TO FFS (ddrphy_e/byte_g[4].ddrdqphy_i/oddr_g[7].ddrto_i/ffd_i) 7.5 ns;

TIMESPEC TS_dqt40 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[0].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt41 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[1].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt42 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[2].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt43 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[3].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt44 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[4].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt45 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[5].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt46 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[6].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt47 = TO FFS (ddrphy_e/byte_g[5].ddrdqphy_i/oddr_g[7].ddrto_i/ffd_i) 7.5 ns;

TIMESPEC TS_dqt48 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[0].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt49 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[1].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt50 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[2].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt51 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[3].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt52 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[4].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt53 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[5].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt54 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[6].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt55 = TO FFS (ddrphy_e/byte_g[6].ddrdqphy_i/oddr_g[7].ddrto_i/ffd_i) 7.5 ns;

TIMESPEC TS_dqt56 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[0].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt57 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[1].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt58 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[2].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt59 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[3].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt60 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[4].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt61 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[5].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt62 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[6].ddrto_i/ffd_i) 7.5 ns;
TIMESPEC TS_dqt63 = TO FFS (ddrphy_e/byte_g[7].ddrdqphy_i/oddr_g[7].ddrto_i/ffd_i) 7.5 ns;

INST "ddrphy_e/byte_g[0].dqs_delayed_e/lutn" LOC = SLICE_X2Y45;
INST "ddrphy_e/byte_g[0].dqs_delayed_e/lutp" LOC = SLICE_X2Y45;
INST "ddrphy_e/byte_g[1].dqs_delayed_e/lutn" LOC = SLICE_X2Y31;
INST "ddrphy_e/byte_g[1].dqs_delayed_e/lutp" LOC = SLICE_X2Y31;
INST "ddrphy_e/byte_g[2].dqs_delayed_e/lutn" LOC = SLICE_X2Y37;
INST "ddrphy_e/byte_g[2].dqs_delayed_e/lutp" LOC = SLICE_X2Y37;
INST "ddrphy_e/byte_g[3].dqs_delayed_e/lutn" LOC = SLICE_X2Y51;
INST "ddrphy_e/byte_g[3].dqs_delayed_e/lutp" LOC = SLICE_X2Y51;
INST "ddrphy_e/byte_g[4].dqs_delayed_e/lutn" LOC = SLICE_X2Y55;
INST "ddrphy_e/byte_g[4].dqs_delayed_e/lutp" LOC = SLICE_X2Y55;
INST "ddrphy_e/byte_g[5].dqs_delayed_e/lutn" LOC = SLICE_X2Y122;
INST "ddrphy_e/byte_g[5].dqs_delayed_e/lutp" LOC = SLICE_X2Y122;
INST "ddrphy_e/byte_g[6].dqs_delayed_e/lutn" LOC = SLICE_X2Y129;
INST "ddrphy_e/byte_g[6].dqs_delayed_e/lutp" LOC = SLICE_X2Y129;
INST "ddrphy_e/byte_g[7].dqs_delayed_e/lutn" LOC = SLICE_X2Y137;
INST "ddrphy_e/byte_g[7].dqs_delayed_e/lutp" LOC = SLICE_X2Y137;

INST "scope_e/ddr_e" AREA_GROUP=DDR;
AREA_GROUP "DDR" RANGE=SLICE_X0Y45:SLICE_X7Y137;

INST "scope_e/ddr_e/rdfifo_i/bytes_g[0].DATA_PHASES_g[0].inbyte_i" AREA_GROUP=RAM0;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[0].DATA_PHASES_g[1].inbyte_i" AREA_GROUP=RAM0;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[1].DATA_PHASES_g[0].inbyte_i" AREA_GROUP=RAM1;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[1].DATA_PHASES_g[1].inbyte_i" AREA_GROUP=RAM1;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[2].DATA_PHASES_g[0].inbyte_i" AREA_GROUP=RAM2;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[2].DATA_PHASES_g[1].inbyte_i" AREA_GROUP=RAM2;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[3].DATA_PHASES_g[0].inbyte_i" AREA_GROUP=RAM3;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[3].DATA_PHASES_g[1].inbyte_i" AREA_GROUP=RAM3;

INST "scope_e/ddr_e/rdfifo_i/bytes_g[4].DATA_PHASES_g[0].inbyte_i" AREA_GROUP=RAM4;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[4].DATA_PHASES_g[1].inbyte_i" AREA_GROUP=RAM4;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[5].DATA_PHASES_g[0].inbyte_i" AREA_GROUP=RAM5;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[5].DATA_PHASES_g[1].inbyte_i" AREA_GROUP=RAM5;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[6].DATA_PHASES_g[0].inbyte_i" AREA_GROUP=RAM6;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[6].DATA_PHASES_g[1].inbyte_i" AREA_GROUP=RAM6;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[7].DATA_PHASES_g[0].inbyte_i" AREA_GROUP=RAM7;
INST "scope_e/ddr_e/rdfifo_i/bytes_g[7].DATA_PHASES_g[1].inbyte_i" AREA_GROUP=RAM7;
AREA_GROUP "RAM0" RANGE=SLICE_X0Y42:SLICE_X6Y49;
AREA_GROUP "RAM1" RANGE=SLICE_X0Y28:SLICE_X6Y35;
AREA_GROUP "RAM2" RANGE=SLICE_X0Y33:SLICE_X6Y40;
AREA_GROUP "RAM3" RANGE=SLICE_X0Y48:SLICE_X6Y55;

AREA_GROUP "RAM4" RANGE=SLICE_X0Y52:SLICE_X6Y59;
AREA_GROUP "RAM5" RANGE=SLICE_X0Y119:SLICE_X6Y126;
AREA_GROUP "RAM6" RANGE=SLICE_X0Y126:SLICE_X6Y133;
AREA_GROUP "RAM7" RANGE=SLICE_X0Y134:SLICE_X6Y141;


NET "clk_fpga_p"    IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "clk_fpga_n"    IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ddr2_clk_p[*]" IOB=TRUE | IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2_clk_n[*]" IOB=TRUE | IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2_dqs_p[*]" IOB=TRUE | IOSTANDARD = DIFF_SSTL18_II_DCI;
NET "ddr2_dqs_n[*]" IOB=TRUE | IOSTANDARD = DIFF_SSTL18_II_DCI;
NET "ddr2_d[*]"     IOB=TRUE | IOSTANDARD = SSTL18_II_DCI;
NET "ddr2_dm[*]"    IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_we"       IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_cas"      IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_ras"      IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_cs[*]"    IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_cke[*]"   IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_ba[*]"    IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_a[*]"     IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_odt[*]"   IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "dvi_gpio1"     IOSTANDARD = SSTL18_II;

#NET "ddr2_scl"       IOSTANDARD = SSTL18_II;
#NET "ddr2_sda"       IOSTANDARD = SSTL18_II;
#NET "gpio_dip_sw[1]" IOSTANDARD = SSTL18_II;

NET "gpio_led[3]" IOSTANDARD = SSTL18_II;
NET "gpio_led[5]" IOSTANDARD = SSTL18_II;
NET "gpio_led[6]" IOSTANDARD = SSTL18_II;
NET "gpio_led[7]" IOSTANDARD = SSTL18_II;

