BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
BLOCK INTERCLOCKDOMAIN PATHS;

## ULX4M-LD v0.0.1

#BANK 0 VCCIO 3.3 V;
#BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 1.35 V;
BANK 3 VCCIO 1.35 V;
#BANK 6 VCCIO 3.3 V;
#BANK 7 VCCIO 3.3 V;

# ################## #
# JTAG and SPI FLASH #
# ################## #

# voltage 3.3V and options to boot from SPI flash write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

# voltage 3.3V and options to boot from SPI flash write to FLASH possible from user bitstream:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

# ######## #
# PROGRAMN #
# ######## #

# (reload bitstream from FLASH, exit from bootloader)
# PCB v2.0.5 and higher

LOCATE COMP "user_programn" SITE "M4"; IOBUF  PORT "user_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

# #### #
# LEDs #
# #### #

# "blinkey" and "gpio" sheet

LOCATE COMP "led[7]" SITE "D3"; IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[6]" SITE "D1"; IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[5]" SITE "C1"; IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[4]" SITE "C2"; IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[3]" SITE "C3"; IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[2]" SITE "B2"; IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[1]" SITE "B3"; IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "led[0]" SITE "A3"; IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# ####### #
# Buttons # 
# ####### #

# "blinkey" and "gpio" sheet

LOCATE COMP "btn[1]" SITE "E1"; IOBUF  PORT "btn[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "btn[2]" SITE "D2"; IOBUF  PORT "btn[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "btn[3]" SITE "F1"; IOBUF  PORT "btn[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# #### #
# GPIO #
# #### #

LOCATE COMP "gpio6"  SITE "R1";  IOBUF PORT  "gpio6"   PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "gpio7"  SITE "P3";  IOBUF PORT  "gpio7"   PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "gpio8"  SITE "P4";  IOBUF PORT  "gpio8"   PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "gpio9"  SITE "G16"; IOBUF PORT  "gpio9"   PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "gpio10" SITE "N17"; IOBUF PORT  "gpio10"  PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "gpio11" SITE "L16"; IOBUF PORT  "gpio11"  PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "gpio13" SITE "T1";  IOBUF PORT  "gpio13"  PULLMODE=UP IO_TYPE=LVCMOS33;
#LOCATE COMP "gpio17" SITE "M17"; IOBUF PORT  "gpio17"  PULLMODE=UP IO_TYPE=LVCMOS15;
#LOCATE COMP "gpio19" SITE "U1";  IOBUF PORT  "gpio19"  PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "gpio22" SITE "U18"; IOBUF PORT  "gpio22"  PULLMODE=UP IO_TYPE=SSTL135_I;
LOCATE COMP "gpio23" SITE "N4";  IOBUF PORT  "gpio23"  PULLMODE=UP IO_TYPE=LVCMOS33;
LOCATE COMP "gpio24" SITE "N3";  IOBUF PORT  "gpio24"  PULLMODE=UP IO_TYPE=LVCMOS33;
#LOCATE COMP "gpio25" SITE "P5";  IOBUF PORT  "gpio25"  PULLMODE=UP IO_TYPE=LVCMOS33;

FREQUENCY PORT "gpio19" 50 MHZ;

# ##### #
# RGMII #
# ##### #

LOCATE COMP "eth_reset"    SITE "G5"; IOBUF PORT "eth_reset"  PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdio"     SITE "F6"; IOBUF PORT "eth_mdio"   PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdc"      SITE "J5"; IOBUF PORT "eth_mdc"    PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "eth_int_n"    SITE "M1"; IOBUF PORT "eth_int_n"  PULLMODE=NONE IO_TYPE=LVCMOS33;

#LOCATE COMP "rgmii_ref_clk" SITE "H2"; IOBUF PORT "rgmii_ref_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
#FREQUENCY PORT "rgmii_ref_clk" 125 MHZ;

LOCATE COMP "rgmii_tx_clk" SITE "H4"; IOBUF PORT "rgmii_tx_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "rgmii_tx_en"  SITE "K3"; IOBUF PORT "rgmii_tx_en"  PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_txd[0]" SITE "K5"; IOBUF PORT "rgmii_txd[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_txd[1]" SITE "J4"; IOBUF PORT "rgmii_txd[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_txd[2]" SITE "L4"; IOBUF PORT "rgmii_txd[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_txd[3]" SITE "L3"; IOBUF PORT "rgmii_txd[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;

#LOCATE COMP "rgmii_rx_clk" SITE "H5"; IOBUF PORT "rgmii_rx_clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_rx_clk" SITE "H2"; IOBUF PORT "rgmii_rx_clk" PULLMODE=NONE IO_TYPE=LVCMOS33; # Use H2(PCLK)
#FREQUENCY PORT "rgmii_rx_clk" 125 MHZ;
FREQUENCY PORT "rgmii_rx_clk" 25 MHZ;

LOCATE COMP "rgmii_rx_dv"  SITE "J1"; IOBUF PORT "rgmii_rx_dv"  PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_rxd[0]" SITE "K1"; IOBUF PORT "rgmii_rxd[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_rxd[1]" SITE "K2"; IOBUF PORT "rgmii_rxd[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_rxd[2]" SITE "L1"; IOBUF PORT "rgmii_rxd[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
LOCATE COMP "rgmii_rxd[3]" SITE "L2"; IOBUF PORT "rgmii_rxd[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;

# LOCATE COMP "rgmii_rx_dv"  SITE "H1"; IOBUF PORT "rgmii_rx_dv"  PULLMODE=NONE IO_TYPE=LVCMOS33;
# LOCATE COMP "rgmii_rxd[1]" SITE "J3"; IOBUF PORT "rgmii_rxd[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# LOCATE COMP "rgmii_rxd[2]" SITE "K4"; IOBUF PORT "rgmii_rxd[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# LOCATE COMP "rgmii_rxd[3]" SITE "L5"; IOBUF PORT "rgmii_rxd[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "clk_25mhz" SITE "G2"; IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# ##### #
# DDRAM #
# ##### #

LOCATE COMP "ddram_clk" SITE "L20"; IOBUF  PORT "ddram_clk" IO_TYPE=SSTL135D_I SLEWRATE=FAST;

LOCATE COMP "ddram_reset_n"  SITE "T18"; IOBUF PORT "ddram_reset_n" IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_cke"      SITE "N19"; IOBUF PORT "ddram_cke"     IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_cs_n"     SITE "H18"; IOBUF PORT "ddram_cs_n"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_ras_n"    SITE "R20"; IOBUF PORT "ddram_ras_n"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_cas_n"    SITE "F20"; IOBUF PORT "ddram_cas_n"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_we_n"     SITE "H17"; IOBUF PORT "ddram_we_n"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_odt"      SITE "T19"; IOBUF PORT "ddram_odt"     IO_TYPE=SSTL135_I SLEWRATE=FAST;
                                                                                                   
LOCATE COMP "ddram_ba[0]"    SITE "P19"; IOBUF PORT "ddram_ba[0]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_ba[1]"    SITE "G16"; IOBUF PORT "ddram_ba[1]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_ba[2]"    SITE "P20"; IOBUF PORT "ddram_ba[2]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[0]"     SITE "F18"; IOBUF PORT "ddram_a[0]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[1]"     SITE "L17"; IOBUF PORT "ddram_a[1]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[2]"     SITE "D19"; IOBUF PORT "ddram_a[2]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[3]"     SITE "E18"; IOBUF PORT "ddram_a[3]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[4]"     SITE "H16"; IOBUF PORT "ddram_a[4]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[5]"     SITE "T20"; IOBUF PORT "ddram_a[5]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[6]"     SITE "U17"; IOBUF PORT "ddram_a[6]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[7]"     SITE "T17"; IOBUF PORT "ddram_a[7]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[8]"     SITE "E16"; IOBUF PORT "ddram_a[8]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[9]"     SITE "U19"; IOBUF PORT "ddram_a[9]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[10]"    SITE "J17"; IOBUF PORT "ddram_a[10]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[11]"    SITE "J16"; IOBUF PORT "ddram_a[11]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[12]"    SITE "P17"; IOBUF PORT "ddram_a[12]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[13]"    SITE "U20"; IOBUF PORT "ddram_a[13]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[14]"    SITE "N20"; IOBUF PORT "ddram_a[14]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
#LOCATE COMP "ddram_a[15]"    SITE "P18"; IOBUF PORT "ddram_a[15]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;

LOCATE VREF "BANK_3_VREF" SITE "P16" ;
LOCATE COMP "ddram_dqs[0]"   SITE "N16"; IOBUF PORT "ddram_dqs[0]"   IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF; # Group 53
 
LOCATE COMP "ddram_dq[0]"    SITE "R17"; IOBUF PORT "ddram_dq[0]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 53
LOCATE COMP "ddram_dq[1]"    SITE "L19"; IOBUF PORT "ddram_dq[1]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 53
LOCATE COMP "ddram_dq[2]"    SITE "R16"; IOBUF PORT "ddram_dq[2]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 53
LOCATE COMP "ddram_dq[3]"    SITE "L16"; IOBUF PORT "ddram_dq[3]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 53
LOCATE COMP "ddram_dq[4]"    SITE "M18"; IOBUF PORT "ddram_dq[4]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 53
LOCATE COMP "ddram_dq[5]"    SITE "M19"; IOBUF PORT "ddram_dq[5]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 53
LOCATE COMP "ddram_dq[6]"    SITE "N18"; IOBUF PORT "ddram_dq[6]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 53
LOCATE COMP "ddram_dq[7]"    SITE "N17"; IOBUF PORT "ddram_dq[7]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 53

# LOCATE COMP "ddram_dm[0]"    SITE "L18"; IOBUF PORT "ddram_dm[0]"    IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Proposed Group 53 PAD to comply
LOCATE COMP "ddram_dm[0]"    SITE "F16"; IOBUF PORT "ddram_dm[0]"    IO_TYPE=SSTL135_I SLEWRATE=FAST; # Group 17. It should be n Group 53 to comply 

LOCATE VREF "BANK_2_VREF" SITE "D20" ;
LOCATE COMP "ddram_dqs[1]"   SITE "G19"; IOBUF PORT "ddram_dqs[1]"  IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF; # Group 41

LOCATE COMP "ddram_dq[8]"    SITE "J19"; IOBUF PORT "ddram_dq[8]"    IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[9]"    SITE "C20"; IOBUF PORT "ddram_dq[9]"    IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[10]"   SITE "F19"; IOBUF PORT "ddram_dq[10]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[11]"   SITE "E20"; IOBUF PORT "ddram_dq[11]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[12]"   SITE "J18"; IOBUF PORT "ddram_dq[12]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[13]"   SITE "K19"; IOBUF PORT "ddram_dq[13]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[14]"   SITE "E19"; IOBUF PORT "ddram_dq[14]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[15]"   SITE "G20"; IOBUF PORT "ddram_dq[15]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41

# LOCATE COMP "ddram_dm[1]"    SITE "K18"; IOBUF PORT "ddram_dm[1]"    IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Proposed Group 41 PAD to comply
LOCATE COMP "ddram_dm[1]"    SITE "U16"; IOBUF PORT "ddram_dm[1]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 89. It should be n Group 41 to comply

# ####### #
# SD card #
# ####### #

# "sdcard", "usb" sheet

LOCATE COMP "sd_clk"    SITE "G1";  IOBUF PORT "sd_clk"    PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_clk WiFi_GPIO14 CM4_GPIO12
LOCATE COMP "sd_cmd"    SITE "P1";  IOBUF PORT "sd_cmd"    PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_cmd_di (MOSI) WiFi_GPIO15 CM4_GPIO27
LOCATE COMP "sd_d[0]"   SITE "B15"; IOBUF PORT "sd_d[0]"   PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_dat0_do (MISO) WiFi_GPIO2 CM4_GPIO4 
LOCATE COMP "sd_d[1]"   SITE "B18"; IOBUF PORT "sd_d[1]"   PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_dat1_irq WiFi_GPIO4 CM4_GPIO3
LOCATE COMP "sd_d[2]"   SITE "E14"; IOBUF PORT "sd_d[2]"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # sd_dat2 WiFi_GPIO12  CM4_GPIO2 # WiFi GPIO12 pulldown bootstrapping requirement
LOCATE COMP "sd_d[3]"   SITE "P2";  IOBUF PORT "sd_d[3]"   PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # sd_dat3_csn WiFi_GPIO13  CM4_GPIO14
LOCATE COMP "sd_wp"     SITE "P5";  IOBUF PORT "sd_wp"     PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # not connected
LOCATE COMP "sd_cdn"    SITE "N5";  IOBUF PORT "sd_cdn"    PULLMODE=UP   IO_TYPE=LVCMOS33 DRIVE=4; # not connected
LOCATE COMP "sd_pwr_on" SITE "E15"; IOBUF PORT "sd_pwr_on" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # J2_5-  GN14

# #### #
# GPDI #
# #### #

# differential interface (Video) "gpdi" sheet

LOCATE COMP "fpdi_d0"  SITE "F17"; IOBUF PORT "fpdi_d0"  IO_TYPE=SSTL135D_I;
LOCATE COMP "fpdi_d1"  SITE "D18"; IOBUF PORT "fpdi_d1"  IO_TYPE=SSTL135D_I;
LOCATE COMP "fpdi_d2"  SITE "C18"; IOBUF PORT "fpdi_d2"  IO_TYPE=SSTL135D_I;
LOCATE COMP "fpdi_clk" SITE "J20"; IOBUF PORT "fpdi_clk" IO_TYPE=SSTL135D_I;
# LOCATE COMP "fpdi_d0_n"  SITE "G18"; IOBUF PORT "gpdi_dn[4]" IO_TYPE=SSTL135D_I;
# LOCATE COMP "fpdi_d1_n"  SITE "E17"; IOBUF PORT "gpdi_dn[5]" IO_TYPE=SSTL135D_I;
# LOCATE COMP "fpdi_d3_n"  SITE "D17"; IOBUF PORT "gpdi_dn[6]" IO_TYPE=SSTL135D_I;
# LOCATE COMP "fpdi_clk_n" SITE "K20"; IOBUF PORT "gpdi_dn[7]" IO_TYPE=SSTL135D_I;

# ########## #
# Second USB #
# ########## #

# port "US2" going directly into FPGA "usb", "ram" sheet

LOCATE COMP "usb_fpga_dp"     SITE "A6";  IOBUF  PORT "usb_fpga_dp"     PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=16; # same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_dn"     SITE "B6";  IOBUF  PORT "usb_fpga_dn"     PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=16; # same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_bd_dp"  SITE "F4";  IOBUF  PORT "usb_fpga_bd_dp"  PULLMODE=NONE IO_TYPE=LVCMOS33  DRIVE=4;  # single-ended bidirectional same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_bd_dn"  SITE "E3";  IOBUF  PORT "usb_fpga_bd_dn"  PULLMODE=NONE IO_TYPE=LVCMOS33  DRIVE=4;  # single-ended bidirectional same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_pu_dp"  SITE "F5";  IOBUF  PORT "usb_fpga_pu_dp"  PULLMODE=NONE IO_TYPE=LVCMOS33  DRIVE=16; # pull up/down control
LOCATE COMP "usb_fpga_pu_dn"  SITE "E5";  IOBUF  PORT "usb_fpga_pu_dn"  PULLMODE=NONE IO_TYPE=LVCMOS33  DRIVE=16;
LOCATE COMP "usb_fpga_otg_id" SITE "D9";  IOBUF  PORT "usb_fpga_otg_id" PULLMODE=UP   IO_TYPE=LVCMOS33  DRIVE=4;
LOCATE COMP "n_extrst"        SITE "U16"; IOBUF  PORT "n_extrst"        PULLMODE=UP   IO_TYPE=LVCMOS33  DRIVE=4;

# # ######## #
# # PROGRAMN #
# # ######## #
# 
# # (reload bitstream from FLASH, exit from bootloader)
# # PCB v2.0.5 and higher
# 
# LOCATE COMP "user_programn" SITE "M4";
# IOBUF  PORT "user_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
# 
# # ######## #
# # SHUTDOWN #
# # ######## #
# 
# # "power", "ram" sheet (connected from PCB v1.7.5)
# # on PCB v1.7 shutdown is not connected to FPGA
# 
# LOCATE COMP "shutdown" SITE "G16"; # FPGA receives
# IOBUF  PORT "shutdown" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

USE PRIMARY NET "ctlr_clk";