BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX4M-LD v0.0.1

BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 1.35 V;
BANK 3 VCCIO 1.35 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "led[7]" SITE "D3";
LOCATE COMP "led[6]" SITE "D1";
LOCATE COMP "led[5]" SITE "C1";
LOCATE COMP "led[4]" SITE "C2";
LOCATE COMP "led[3]" SITE "C3";
LOCATE COMP "led[2]" SITE "B2";
LOCATE COMP "led[1]" SITE "B3";
LOCATE COMP "led[0]" SITE "A3";
IOBUF  PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Buttons "blinkey" and "gpio" sheet
LOCATE COMP "btn[0]" SITE "E1";
LOCATE COMP "btn[1]" SITE "D2";
LOCATE COMP "btn[2]" SITE "F1";
IOBUF  PORT "btn[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "btn[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## SPI Flash chip "flash" sheet
LOCATE COMP "flash_csn" SITE "R2";
LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_miso" SITE "V2";
LOCATE COMP "flash_holdn" SITE "W1";
LOCATE COMP "flash_wpn" SITE "Y2";
#LOCATE COMP "flash_csspin" SITE "AJ3";
#LOCATE COMP "flash_initn" SITE "AG4";
#LOCATE COMP "flash_done" SITE "AJ4";
#LOCATE COMP "flash_programn" SITE "AH4";
#LOCATE COMP "flash_cfg_select[0]" SITE "AM4";
#LOCATE COMP "flash_cfg_select[1]" SITE "AL4";
#LOCATE COMP "flash_cfg_select[2]" SITE "AK4";
IOBUF  PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_clk" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_holdn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "flash_wpn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_csspin" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_initn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_done" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "flash_cfg_select[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

## SD card "sdcard", "usb" sheet
LOCATE COMP "sd_clk" SITE "G1"; # sd_clk WiFi_GPIO14 CM4_GPIO12
LOCATE COMP "sd_cmd" SITE "P1"; # sd_cmd_di (MOSI) WiFi_GPIO15 CM4_GPIO27
LOCATE COMP "sd_d[0]" SITE "B15"; # sd_dat0_do (MISO) WiFi_GPIO2 CM4_GPIO4 
LOCATE COMP "sd_d[1]" SITE "B18"; # sd_dat1_irq WiFi_GPIO4 CM4_GPIO3
LOCATE COMP "sd_d[2]" SITE "E14"; # sd_dat2 WiFi_GPIO12  CM4_GPIO2
LOCATE COMP "sd_d[3]" SITE "P2"; # sd_dat3_csn WiFi_GPIO13  CM4_GPIO14
LOCATE COMP "sd_wp" SITE "P5"; # not connected
LOCATE COMP "sd_cdn" SITE "N5"; # not connected
IOBUF  PORT "sd_clk" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_cmd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_d[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_d[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_d[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; # WiFi GPIO12 pulldown bootstrapping requirement
IOBUF  PORT "sd_d[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_wp" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "sd_cdn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "sd_pwr_on" SITE "E15"; # J2_5-  GN14
IOBUF PORT  "sd_pwr_on" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## Second USB port "US2" going directly into FPGA "usb", "ram" sheet
LOCATE COMP "usb_fpga_dp" SITE "A6"; # same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_dn" SITE "B6"; # same on ULX3S and ULX4M
IOBUF  PORT "usb_fpga_dp" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=16;
IOBUF  PORT "usb_fpga_dn" PULLMODE=NONE IO_TYPE=LVCMOS33D DRIVE=16;
LOCATE COMP "usb_fpga_bd_dp" SITE "F4"; # single-ended bidirectional same on ULX3S and ULX4M
LOCATE COMP "usb_fpga_bd_dn" SITE "E3"; # single-ended bidirectional same on ULX3S and ULX4M
IOBUF  PORT "usb_fpga_bd_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "usb_fpga_bd_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "usb_fpga_pu_dp" SITE "F5"; # pull up/down control
LOCATE COMP "usb_fpga_pu_dn" SITE "E5";
IOBUF  PORT "usb_fpga_pu_dp" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
IOBUF  PORT "usb_fpga_pu_dn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=16;
LOCATE COMP "usb_fpga_otg_id" SITE "D9";
IOBUF  PORT "usb_fpga_otg_id" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "n_extrst" SITE "U16";
IOBUF  PORT "n_extrst" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## JTAG ESP-32 "usb" sheet
# connected to FT231X and ESP-32
# commented out because those are dedicated pins, not directly useable as GPIO
# but could be used by some vendor-specific JTAG bridging (boundary scan) module
#LOCATE COMP "jtag_tdi" SITE "R5"; # FTDI_nRI   FPGA receives
#LOCATE COMP "jtag_tdo" SITE "V4"; # FTDI_nCTS  FPGA transmits
#LOCATE COMP "jtag_tck" SITE "T5"; # FTDI_nDSR  FPGA receives
#LOCATE COMP "jtag_tms" SITE "U5"; # FTDI_nDCD  FPGA receives
#IOBUF  PORT "jtag_tdi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "jtag_tdo" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "jtag_tck" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "jtag_tms" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## DDR3 "ram" sheet

LOCATE COMP "ddram_a[0]"  SITE "F18";
LOCATE COMP "ddram_a[1]"  SITE "L17";
LOCATE COMP "ddram_a[2]"  SITE "D19";
LOCATE COMP "ddram_a[3]"  SITE "E18";
LOCATE COMP "ddram_a[4]"  SITE "H16";
LOCATE COMP "ddram_a[5]"  SITE "T20";
LOCATE COMP "ddram_a[6]"  SITE "U17";
LOCATE COMP "ddram_a[7]"  SITE "T17";
LOCATE COMP "ddram_a[8]"  SITE "E16";
LOCATE COMP "ddram_a[9]"  SITE "U19";
LOCATE COMP "ddram_a[10]" SITE "J17";
LOCATE COMP "ddram_a[11]" SITE "J16";
LOCATE COMP "ddram_a[12]" SITE "P17";
LOCATE COMP "ddram_a[13]" SITE "U20";
LOCATE COMP "ddram_a[14]" SITE "N20";
LOCATE COMP "ddram_a[15]" SITE "P18";
IOBUF PORT "ddram_a[0]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[1]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[2]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[3]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[4]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[5]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[6]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[7]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[8]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[9]"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[10]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[11]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[12]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[13]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[14]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_a[15]" IO_TYPE=SSTL135_I SLEWRATE=FAST;

LOCATE COMP "ddram_ba[0]" SITE "P19";
LOCATE COMP "ddram_ba[1]" SITE "G16";
LOCATE COMP "ddram_ba[2]" SITE "P20";
LOCATE COMP "ddram_cas_n" SITE "F20";
LOCATE COMP "ddram_cs_n"  SITE "H18";
LOCATE COMP "ddram_dm[0]" SITE "F16";
LOCATE COMP "ddram_dm[1]" SITE "U16";
LOCATE COMP "ddram_ras_n" SITE "R20";
LOCATE COMP "ddram_we_n"  SITE "H17";
IOBUF PORT "ddram_ba[0]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_ba[1]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_ba[2]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_cas_n" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_cs_n"  IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_dm[0]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_dm[1]" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_ras_n" IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_we_n"  IO_TYPE=SSTL135_I SLEWRATE=FAST;

// from litex platform, termination disabled to reduce heat
LOCATE COMP "ddram_dq[0]"  SITE "R17";
LOCATE COMP "ddram_dq[1]"  SITE "L19";
LOCATE COMP "ddram_dq[2]"  SITE "R16";
LOCATE COMP "ddram_dq[3]"  SITE "L16";
LOCATE COMP "ddram_dq[4]"  SITE "M18";
LOCATE COMP "ddram_dq[5]"  SITE "M19";
LOCATE COMP "ddram_dq[6]"  SITE "N18";
LOCATE COMP "ddram_dq[7]"  SITE "N17";
LOCATE COMP "ddram_dq[8]"  SITE "J19";
LOCATE COMP "ddram_dq[9]"  SITE "C20";
LOCATE COMP "ddram_dq[10]" SITE "F19";
LOCATE COMP "ddram_dq[11]" SITE "E20";
LOCATE COMP "ddram_dq[12]" SITE "J18";
LOCATE COMP "ddram_dq[13]" SITE "K19";
LOCATE COMP "ddram_dq[14]" SITE "E19";
LOCATE COMP "ddram_dq[15]" SITE "G20";
IOBUF PORT "ddram_dq[0]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[1]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[2]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[3]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[4]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[5]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[6]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[7]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[8]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[9]"  IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[10]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[11]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[12]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[13]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[14]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;
IOBUF PORT "ddram_dq[15]" IO_TYPE=SSTL135_I SLEWRATE=FAST TERMINATION=OFF;

LOCATE COMP "ddram_dqs_n[0]" SITE "M17";
LOCATE COMP "ddram_dqs_n[1]" SITE "H20";
LOCATE COMP "ddram_dqs_p[0]" SITE "N16";
LOCATE COMP "ddram_dqs_p[1]" SITE "G19";
IOBUF PORT "ddram_dqs_n[0]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_n[1]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_p[0]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
IOBUF PORT "ddram_dqs_p[1]" IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;

LOCATE COMP "ddram_clk_p" SITE "L20";
LOCATE COMP "ddram_clk_n" SITE "M20";
IOBUF PORT "ddram_clk_p" IO_TYPE=SSTL135D_I SLEWRATE=FAST;
IOBUF PORT "ddram_clk_n" IO_TYPE=SSTL135D_I SLEWRATE=FAST;

LOCATE COMP "ddram_cke"     SITE "N19";
LOCATE COMP "ddram_odt"     SITE "T19";
LOCATE COMP "ddram_reset_n" SITE "T18";
IOBUF PORT "ddram_cke"     IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_odt"     IO_TYPE=SSTL135_I SLEWRATE=FAST;
IOBUF PORT "ddram_reset_n" IO_TYPE=SSTL135_I SLEWRATE=FAST;

#LOCATE COMP "ddram_vccio[0]" SITE "K16";
#LOCATE COMP "ddram_vccio[1]" SITE "D17";
#LOCATE COMP "ddram_vccio[2]" SITE "K15";
#LOCATE COMP "ddram_vccio[3]" SITE "K17";
#LOCATE COMP "ddram_vccio[4]" SITE "B18";
#LOCATE COMP "ddram_vccio[5]" SITE "C6";
#LOCATE COMP "ddram_gnd[0]"   SITE "L15";
#LOCATE COMP "ddram_gnd[1]"   SITE "L16";
#IOBUF PORT "ddram_vccio[0]" IO_TYPE=SSTL135_II SLEWRATE=FAST;
#IOBUF PORT "ddram_vccio[1]" IO_TYPE=SSTL135_II SLEWRATE=FAST;
#IOBUF PORT "ddram_vccio[2]" IO_TYPE=SSTL135_II SLEWRATE=FAST;
#IOBUF PORT "ddram_vccio[3]" IO_TYPE=SSTL135_II SLEWRATE=FAST;
#IOBUF PORT "ddram_vccio[4]" IO_TYPE=SSTL135_II SLEWRATE=FAST;
#IOBUF PORT "ddram_vccio[5]" IO_TYPE=SSTL135_II SLEWRATE=FAST;
#IOBUF PORT "ddram_gnd[0]"   IO_TYPE=SSTL135_II SLEWRATE=FAST;
#IOBUF PORT "ddram_gnd[1]"   IO_TYPE=SSTL135_II SLEWRATE=FAST;

# GPDI differential interface (Video) "gpdi" sheet
LOCATE COMP "gpdi_dp[0]" SITE "F17"; # Blue +
LOCATE COMP "gpdi_dn[0]" SITE "G18"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "D18"; # Green +
LOCATE COMP "gpdi_dn[1]" SITE "E17"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "C18"; # Red +
LOCATE COMP "gpdi_dn[2]" SITE "D17"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "J20"; # Clock +
LOCATE COMP "gpdi_dn[3]" SITE "K20"; # Clock -
#LOCATE COMP "gpdi_ethp" SITE "A19"; # Ethernet +
#LOCATE COMP "gpdi_ethn" SITE "B20"; # Ethernet -
LOCATE COMP "gpdi_cec" SITE "A18";
#LOCATE COMP "gpdi_sda" SITE "B19"; # I2C shared with RTC
#LOCATE COMP "gpdi_scl" SITE "E12"; # I2C shared with RTC C12->E12
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_ethp" IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_ethn" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_cec" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_sda" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "gpdi_scl" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "gpdi_dp[4]" SITE "B9"; # Blue +
LOCATE COMP "gpdi_dn[4]" SITE "C10"; # Blue -
LOCATE COMP "gpdi_dp[5]" SITE "A7"; # Green +
LOCATE COMP "gpdi_dn[5]" SITE "A8"; # Green -
LOCATE COMP "gpdi_dp[6]" SITE "C8"; # Red +
LOCATE COMP "gpdi_dn[6]" SITE "B8"; # Red -
LOCATE COMP "gpdi_dp[7]" SITE "B11"; # Clock +
LOCATE COMP "gpdi_dn[7]" SITE "C11"; # Clock -
IOBUF PORT "gpdi_dp[4]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[4]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[6]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[6]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dp[7]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "gpdi_dn[7]" IO_TYPE=LVCMOS33 DRIVE=4;

## CM4 GPIO

#LOCATE COMP "gpio_scl" SITE "R17"; # SCL1 - WIFI_GPIO22 rasp-GPIO0
#LOCATE COMP "gpio_sda" SITE "R16"; # SDA1 - WIFI_GPIO21 rasp-GPIO1
#IOBUF  PORT "gpio_sda" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio_scl" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#LOCATE COMP "cam_sda" SITE "P16"; # SDA0 - FPGA only CAM1
#LOCATE COMP "cam_scl" SITE "P17"; # SCL0 - FPGA only CAM1 
#LOCATE COMP "gpio[2]" SITE "K5";  # SD_D2 - ESP32 SD share
#LOCATE COMP "gpio[3]" SITE "J5";  # SD_D1 - ESP32 SD share
#LOCATE COMP "gpio[4]" SITE "K4";  # SD_D0 - ESP32 SD share
#LOCATE COMP "cam_enable_gpio" SITE "H16"; # WIFI_GPIO33
#LOCATE COMP "gpio[6]" SITE "R1";  # BTN1 on HAT
#LOCATE COMP "gpio[7]" SITE "P3";  # BTN2 on HAT
#LOCATE COMP "gpio[8]" SITE "P4";  # WIFI_GPIO19
#LOCATE COMP "gpio[9]" SITE "G16"; # WIFI_GPIO27
#LOCATE COMP "gpio[10]" SITE "N17";# WIFI_GPIO26
#LOCATE COMP "gpio[11]" SITE "L16";# WIFI_GPIO25
#LOCATE COMP "gpio[12]" SITE "C4"; # FPGA TDI  do not use - not connected!
#LOCATE COMP "ftdi_txden" SITE "T1"; # FTDI_TXDEN
#LOCATE COMP "gpio[14]" SITE "L4"; # SD_D3 - ESP32 SD share
#LOCATE COMP "gpio[15]" SITE "L5"; # SD_CLK - ESP32 SD share
#LOCATE COMP "gpio[16]" SITE "B4"; # FPGA TDO do not use - not connected!
#LOCATE COMP "gpio[17]" SITE "M17";# WIFI_GPIO35
#LOCATE COMP "gpio[19]" SITE "U1"; # WIFI_GPIO0
#LOCATE COMP "gpio[20]" SITE "E4"; # FPGA TCK do not use - not connected!
#LOCATE COMP "gpio[21]" SITE "D5"; # FPGA TMS do not use - not connected!
#LOCATE COMP "gpio[22]" SITE "U18";# WIFI_EN
#LOCATE COMP "ftdi_txd" SITE "N4"; # FTDI_TXD
#LOCATE COMP "ftdi_rxd" SITE "N3"; # FTDI_RXD
#LOCATE COMP "wifi_txd" SITE "P5"; # WIFI_TXD
#LOCATE COMP "wifi_rxd" SITE "V1"; # WIFI_RXDLOCATE COMP "gpio[27]" SITE "N16";# SD_CMD - ESP32 SD share
#IOBUF  PORT "cam_sda" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "cam_scl" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "cam_enable_gpio" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
#IOBUF  PORT "gpio[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4; 
#IOBUF  PORT "gpio[22]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "ftdi_txd" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "ftdi_rxd" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "wifi_txd" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "wifi_rxd" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF  PORT "gpio[27]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "cam_enable" SITE "A17"; #  CAM_GPIO
IOBUF  PORT "cam_enable" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## DSI
#  
#FREQUENCY PORT "dsiRX0_clk_dp" 73 MHZ;
#LOCATE COMP "dsiRX0_clk_dp" SITE "J20"; # Clk + B12
#LOCATE COMP "dsiRX0_clk_dn" SITE "K20"; # Clk - C12
#IOBUF PORT "dsiRX0_clk_dp" PULLMODE=NONE IO_TYPE=LVCMOS25;
#IOBUF PORT "dsiRX0_clk_dn" DIFFRESISTOR=100 IO_TYPE=LVDS;
#IOBUF PORT "dsiRX0_clk_dp" DIFFRESISTOR=100 IO_TYPE=LVDS;
#IOBUF PORT "dsiRX0_clk_dp" IO_TYPE=LVDS;

#LOCATE COMP "clk_dp" SITE "B12"; # Clk + B12
#LOCATE COMP "clk_dn" SITE "C12"; # Clk - C12
#IOBUF PORT "clk_dp" PULLMODE=DOWN IO_TYPE=LVCMOS12; #CLAMP=ON; #TERMINATION=50 IO_TYPE=LVCMOS12;
#IOBUF PORT "clk_dn" PULLMODE=DOWN IO_TYPE=LVCMOS12;

#LOCATE COMP "data_dp[0]" SITE "A12"; # Data
#LOCATE COMP "data_dp[1]" SITE "B13"; # Data
#LOCATE COMP "data_dn[0]" SITE "A13"; # Clk - C12
#LOCATE COMP "data_dn[1]" SITE "C13"; # Clk - C12
#IOBUF PORT "data_dp[0]" PULLMODE=DOWN IO_TYPE=LVCMOS12;
#IOBUF PORT "data_dn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS12;
#IOBUF PORT "data_dp[0]" PULLMODE=DOWN IO_TYPE=LVCMOS12;
#IOBUF PORT "data_dn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS12;

#DIFFRESISTOR=100 IO_TYPE=LVDS

#LOCATE COMP "dsiRX0_dp[0]" SITE "F17"; # DSI RX D0 + F17
#LOCATE COMP "dsiRX0_dn[0]" SITE "A13"; # DSI RX D0 - 
#LOCATE COMP "dsiRX0_dp[1]" SITE "D18"; # DSI RX D1 + D18
#LOCATE COMP "dsiRX0_dn[1]" SITE "C13"; # DSI RX D1 -
#IOBUF PORT "dsiRX0_dp[0]" DIFFRESISTOR=100 IO_TYPE=LVDS;
#IOBUF PORT "dsiRX0_dn[0]" IO_TYPE=LVCMOS25;
#IOBUF PORT "dsiRX0_dp[1]" DIFFRESISTOR=100 IO_TYPE=LVDS;
#IOBUF PORT "dsiRX0_dn[1]" IO_TYPE=LVCMOS12;

#LOCATE COMP "dsiTX0_dp[0]" SITE "D12"; # Clk +
#LOCATE COMP "dsiTX0_dn[0]" SITE "E12"; # Clk -
#LOCATE COMP "dsiTX0_dp[1]" SITE "D13"; # DSI TX D0 +
#LOCATE COMP "dsiTX0_dn[1]" SITE "E13"; # DSI TX D0 -
#LOCATE COMP "dsiTX0_dp[2]" SITE "A14"; # DSI TX D1 +
#LOCATE COMP "dsiTX0_dn[2]" SITE "C14"; # DSI TX D1 -

#IOBUF PORT "dsiTX0_dp[0]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[0]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[1]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[1]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[2]" IO_TYPE=LVCMOS12 ;
#IOBUF PORT "dsiTX0_dp[2]" IO_TYPE=LVCMOS12 ;

## PROGRAMN (reload bitstream from FLASH, exit from bootloader)
# PCB v2.0.5 and higher
LOCATE COMP "user_programn" SITE "M4";
IOBUF  PORT "user_programn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

## SHUTDOWN "power", "ram" sheet (connected from PCB v1.7.5)
# on PCB v1.7 shutdown is not connected to FPGA
LOCATE COMP "shutdown" SITE "G16"; # FPGA receives
IOBUF  PORT "shutdown" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
