BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ULX4M-LD v0.0.1

#BANK 0 VCCIO 3.3 V;
#BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 1.35 V;
BANK 3 VCCIO 1.35 V;
#BANK 6 VCCIO 3.3 V;
#BANK 7 VCCIO 3.3 V;

# JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash
# write to FLASH possible any time from JTAG:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;
# write to FLASH possible from user bitstream:
# SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "rgmii_tx_clk" SITE "H4";
LOCATE COMP "rgmii_rx_clk" SITE "H5";

LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF  PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

LOCATE COMP "ddram_clk" SITE "L20";
IOBUF  PORT "ddram_clk" IO_TYPE=SSTL135D_I SLEWRATE=FAST;

LOCATE COMP "ddram_reset_n"  SITE "T18"; IOBUF PORT "ddram_reset_n" IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_cke"      SITE "N19"; IOBUF PORT "ddram_cke"     IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_cs_n"     SITE "H18"; IOBUF PORT "ddram_cs_n"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_ras_n"    SITE "R20"; IOBUF PORT "ddram_ras_n"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_cas_n"    SITE "F20"; IOBUF PORT "ddram_cas_n"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_we_n"     SITE "H17"; IOBUF PORT "ddram_we_n"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_odt"      SITE "T19"; IOBUF PORT "ddram_odt"     IO_TYPE=SSTL135_I SLEWRATE=FAST;
                                                                                                   
LOCATE COMP "ddram_ba[0]"    SITE "P19"; IOBUF PORT "ddram_ba[0]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_ba[1]"    SITE "G16"; IOBUF PORT "ddram_ba[1]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_ba[2]"    SITE "P20"; IOBUF PORT "ddram_ba[2]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[0]"     SITE "F18"; IOBUF PORT "ddram_a[0]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[1]"     SITE "L17"; IOBUF PORT "ddram_a[1]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[2]"     SITE "D19"; IOBUF PORT "ddram_a[2]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[3]"     SITE "E18"; IOBUF PORT "ddram_a[3]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[4]"     SITE "H16"; IOBUF PORT "ddram_a[4]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[5]"     SITE "T20"; IOBUF PORT "ddram_a[5]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[6]"     SITE "U17"; IOBUF PORT "ddram_a[6]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[7]"     SITE "T17"; IOBUF PORT "ddram_a[7]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[8]"     SITE "E16"; IOBUF PORT "ddram_a[8]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[9]"     SITE "U19"; IOBUF PORT "ddram_a[9]"    IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[10]"    SITE "J17"; IOBUF PORT "ddram_a[10]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[11]"    SITE "J16"; IOBUF PORT "ddram_a[11]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[12]"    SITE "P17"; IOBUF PORT "ddram_a[12]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[13]"    SITE "U20"; IOBUF PORT "ddram_a[13]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
LOCATE COMP "ddram_a[14]"    SITE "N20"; IOBUF PORT "ddram_a[14]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;
#LOCATE COMP "ddram_a[15]"    SITE "P18"; IOBUF PORT "ddram_a[15]"   IO_TYPE=SSTL135_I SLEWRATE=FAST;

LOCATE VREF "BANK_3_VREF" SITE "P16" ;
LOCATE COMP "ddram_dqs[0]"   SITE "N16"; IOBUF PORT "ddram_dqs[0]"   IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
 
LOCATE COMP "ddram_dq[0]"    SITE "R17"; IOBUF PORT "ddram_dq[0]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddram_dq[1]"    SITE "L19"; IOBUF PORT "ddram_dq[1]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddram_dq[2]"    SITE "R16"; IOBUF PORT "ddram_dq[2]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddram_dq[3]"    SITE "L16"; IOBUF PORT "ddram_dq[3]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddram_dq[4]"    SITE "M18"; IOBUF PORT "ddram_dq[4]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddram_dq[5]"    SITE "M19"; IOBUF PORT "ddram_dq[5]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddram_dq[6]"    SITE "N18"; IOBUF PORT "ddram_dq[6]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddram_dq[7]"    SITE "N17"; IOBUF PORT "ddram_dq[7]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF";

LOCATE COMP "ddram_dm[0]"    SITE "L18"; IOBUF PORT "ddram_dm[0]"    IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_3_VREF"; # Group 89. It should be 41 to comply
# LOCATE COMP "ddram_dm[0]"    SITE "F16"; IOBUF PORT "ddram_dm[0]"    IO_TYPE=SSTL135_I SLEWRATE=FAST; # Group 89. It should be 41 to comply

LOCATE VREF "BANK_2_VREF" SITE "D20" ;
LOCATE COMP "ddram_dqs[1]"   SITE "G19"; IOBUF PORT "ddram_dqs[1]"  IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF; # Group 41

LOCATE COMP "ddram_dq[8]"    SITE "J19"; IOBUF PORT "ddram_dq[8]"    IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[9]"    SITE "C20"; IOBUF PORT "ddram_dq[9]"    IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[10]"   SITE "F19"; IOBUF PORT "ddram_dq[10]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[11]"   SITE "E20"; IOBUF PORT "ddram_dq[11]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[12]"   SITE "J18"; IOBUF PORT "ddram_dq[12]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[13]"   SITE "K19"; IOBUF PORT "ddram_dq[13]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[14]"   SITE "E19"; IOBUF PORT "ddram_dq[14]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
LOCATE COMP "ddram_dq[15]"   SITE "G20"; IOBUF PORT "ddram_dq[15]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41

LOCATE COMP "ddram_dm[1]"    SITE "K18"; IOBUF PORT "ddram_dm[1]"    IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 41
# LOCATE COMP "ddram_dm[1]"    SITE "U16"; IOBUF PORT "ddram_dm[1]"   IO_TYPE=SSTL135_I SLEWRATE=FAST VREF="BANK_2_VREF"; # Group 89. It should be 41 to comply