BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
BLOCK INTERCLOCKDOMAIN PATHS;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

FREQUENCY PORT "fpga_sysclk" 100 MHZ;
LOCATE COMP "fpga_sysclk" SITE "";   IOBUF  PORT "fpga_sysclk" PULLMODE=NONE IO_TYPE=LVCMOS33;

LOCATE COMP "uart_txd"     SITE "";  IOBUF  PORT "uart_rxd"   IO_TYPE=LVCMOS33 PULLMODE=UP   DRIVE=4;
LOCATE COMP "uart_rxd"     SITE "";  IOBUF  PORT "uart_txd"   IO_TYPE=LVCMOS33 PULLMODE=UP   DRIVE=4;

LOCATE COMP "rgbled[11]"   SITE "";  IOBUF  PORT "rgbled[4]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[10]"   SITE "";  IOBUF  PORT "rgbled[5]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[9]"    SITE "";  IOBUF  PORT "rgbled[6]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[8]"    SITE "";  IOBUF  PORT "rgbled[7]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[7]"    SITE "";  IOBUF  PORT "rgbled[0]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[6]"    SITE "";  IOBUF  PORT "rgbled[1]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[5]"    SITE "";  IOBUF  PORT "rgbled[2]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[4]"    SITE "";  IOBUF  PORT "rgbled[3]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[3]"    SITE "";  IOBUF  PORT "rgbled[4]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[2]"    SITE "";  IOBUF  PORT "rgbled[5]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[1]"    SITE "";  IOBUF  PORT "rgbled[6]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;
LOCATE COMP "rgbled[0]"    SITE "";  IOBUF  PORT "rgbled[7]"  IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

# DDR3 #
# #### #

LOCATE COMP "ddr_clk"      SITE ""; IOBUF PORT "ddr_clk"     IO_TYPE=SSTL135D_I SLEWRATE=FAST;
LOCATE COMP "ddr_reset_n"  SITE ""; IOBUF PORT "ddr_reset_n" IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_cke"      SITE ""; IOBUF PORT "ddr_cke"     IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_cs_n"     SITE ""; IOBUF PORT "ddr_cs_n"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_ras_n"    SITE ""; IOBUF PORT "ddr_ras_n"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_cas_n"    SITE ""; IOBUF PORT "ddr_cas_n"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_we_n"     SITE ""; IOBUF PORT "ddr_we_n"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_odt"      SITE ""; IOBUF PORT "ddr_odt"     IO_TYPE=SSTL135_I  SLEWRATE=FAST;
                                                                                             
LOCATE COMP "ddr_ba[0]"    SITE ""; IOBUF PORT "ddr_ba[0]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_ba[1]"    SITE ""; IOBUF PORT "ddr_ba[1]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_ba[2]"    SITE ""; IOBUF PORT "ddr_ba[2]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[0]"     SITE ""; IOBUF PORT "ddr_a[0]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[1]"     SITE ""; IOBUF PORT "ddr_a[1]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[2]"     SITE ""; IOBUF PORT "ddr_a[2]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[3]"     SITE ""; IOBUF PORT "ddr_a[3]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[4]"     SITE ""; IOBUF PORT "ddr_a[4]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[5]"     SITE ""; IOBUF PORT "ddr_a[5]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[6]"     SITE ""; IOBUF PORT "ddr_a[6]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[7]"     SITE ""; IOBUF PORT "ddr_a[7]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[8]"     SITE ""; IOBUF PORT "ddr_a[8]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[9]"     SITE ""; IOBUF PORT "ddr_a[9]"    IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[10]"    SITE ""; IOBUF PORT "ddr_a[10]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[11]"    SITE ""; IOBUF PORT "ddr_a[11]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[12]"    SITE ""; IOBUF PORT "ddr_a[12]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[13]"    SITE ""; IOBUF PORT "ddr_a[13]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[14]"    SITE ""; IOBUF PORT "ddr_a[14]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;
LOCATE COMP "ddr_a[15]"    SITE ""; IOBUF PORT "ddr_a[15]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;

LOCATE COMP "ddr_dqs[0]"   SITE ""; IOBUF PORT "ddr_dqs[0]"  IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
 
LOCATE COMP "ddr_dq[0]"    SITE ""; IOBUF PORT "ddr_dq[0]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddr_dq[1]"    SITE ""; IOBUF PORT "ddr_dq[1]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddr_dq[2]"    SITE ""; IOBUF PORT "ddr_dq[2]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddr_dq[3]"    SITE ""; IOBUF PORT "ddr_dq[3]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddr_dq[4]"    SITE ""; IOBUF PORT "ddr_dq[4]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddr_dq[5]"    SITE ""; IOBUF PORT "ddr_dq[5]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddr_dq[6]"    SITE ""; IOBUF PORT "ddr_dq[6]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddr_dq[7]"    SITE ""; IOBUF PORT "ddr_dq[7]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_3_VREF";
LOCATE COMP "ddram_dm[0]"  SITE ""; IOBUF PORT "ddr_dm[0]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST;

LOCATE COMP "ddram_dqs[1]" SITE ""; IOBUF PORT "ddr_dqs[1]"  IO_TYPE=SSTL135D_I SLEWRATE=FAST DIFFRESISTOR=100 TERMINATION=OFF;
LOCATE COMP "ddr_dq[8]"    SITE ""; IOBUF PORT "ddr_dq[8]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";
LOCATE COMP "ddr_dq[9]"    SITE ""; IOBUF PORT "ddr_dq[9]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";
LOCATE COMP "ddr_dq[10]"   SITE ""; IOBUF PORT "ddr_dq[10]"  IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";
LOCATE COMP "ddr_dq[11]"   SITE ""; IOBUF PORT "ddr_dq[11]"  IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";
LOCATE COMP "ddr_dq[12]"   SITE ""; IOBUF PORT "ddr_dq[12]"  IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";
LOCATE COMP "ddr_dq[13]"   SITE ""; IOBUF PORT "ddr_dq[13]"  IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";
LOCATE COMP "ddr_dq[14]"   SITE ""; IOBUF PORT "ddr_dq[14]"  IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";
LOCATE COMP "ddr_dq[15]"   SITE ""; IOBUF PORT "ddr_dq[15]"  IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";
LOCATE COMP "ddr_dm[1]"    SITE ""; IOBUF PORT "ddr_dm[1]"   IO_TYPE=SSTL135_I  SLEWRATE=FAST VREF="BANK_2_VREF";