#                                                                            #
# Author(s):                                                                 #
#   Miguel Angel Sagreras                                                    #
#                                                                            #
# Copyright (C) 2015                                                         #
#    Miguel Angel Sagreras                                                   #
#                                                                            #
# This source file may be used and distributed without restriction provided  #
# that this copyright statement is not removed from the file and that any    #
# derivative work contains  the original copyright notice and the associated #
# disclaimer.                                                                #
#                                                                            #
# This source file is free software; you can redistribute it and/or modify   #
# it under the terms of the GNU General Public License as published by the   #
# Free Software Foundation, either version 3 of the License, or (at your     #
# option) any later version.                                                 #
#                                                                            #
# This source is distributed in the hope that it will be useful, but WITHOUT #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or      #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for   #
# more details at http://www.gnu.org/licenses/.                              #
#                                                                            #

NET "xtal" TNM_NET = xtal;
TIMESPEC TS_xtal = PERIOD "xtal" 20 ns HIGH 50%;
NET "xtal" CLOCK_DEDICATED_ROUTE = true;

NET "e_tx_clk" TNM_NET = e_tx_clk;
TIMESPEC TS_mii_txc = PERIOD "e_tx_clk" 20 ns HIGH 50%;
NET "e_tx_clk" CLOCK_DEDICATED_ROUTE = false;

NET "e_rx_clk" TNM_NET = e_rx_clk;
TIMESPEC TS_e_tx_clk = PERIOD "e_rx_clk" 20 ns HIGH 50%;
NET "e_rx_clk" CLOCK_DEDICATED_ROUTE = false;

# ###################### #
# Ignore crossclock time #
# ###################### #

NET ddrsys_clks[0] TNM_NET = FFS  FFS_ddrsclk0;
NET ddrsys_clks[0] TNM_NET = RAMS RAMS_ddrsclk0;
NET ddrsys_clks[1] TNM_NET = FFS  FFS_ddrsclk90;
NET ddrsys_clks[1] TNM_NET = RAMS RAMS_ddrsclk90;

TIMESPEC TS_ram2oddr    = FROM RAMS_ddrsclk0 TO FFS_ddrsclk90  TIG;
TIMESPEC TS_ff2ram      = FROM FFS_ddrsclk0  TO RAMS_ddrsclk90 TIG;

# ############## #
# DDR constrains #
# ############## #

# DDR 200 Mhz rate clock #

NET "sd_dqs[0]" TNM_NET = dqs0;
TIMESPEC TS_dso0 = PERIOD "dqs0" 5 ns HIGH 50%;
NET "sd_dqs[0]" CLOCK_DEDICATED_ROUTE = false;

NET "sd_dqs[1]" TNM_NET = dqs1;
TIMESPEC TS_dso1 = PERIOD "dqs1" TS_dso0 HIGH 50% PHASE 0.0;
NET "sd_dqs[1]" CLOCK_DEDICATED_ROUTE = false;

NET "sd_dm*" OFFSET = IN 1.5 ns VALID 3.75 ns BEFORE sd_dqs[0] RISING;
NET "sd_dm*" OFFSET = IN 1.5 ns VALID 3.75 ns BEFORE sd_dqs[1] RISING;

OFFSET = IN -0.450 ns VALID 1.6 ns BEFORE sd_dqs[0] RISING;
OFFSET = IN -0.450 ns VALID 1.6 ns BEFORE sd_dqs[1] RISING;

# DDR 150 Mhz rate clock #
#
#NET "sd_dqs[0]" TNM_NET = dqs0;
#TIMESPEC TS_dso0 = PERIOD "dqs0" 6.667 ns HIGH 50%;
#NET "sd_dqs[0]" CLOCK_DEDICATED_ROUTE = false;
#
#NET "sd_dqs[1]" TNM_NET = dqs1;
#TIMESPEC TS_dso1 = PERIOD "dqs1" TS_dso0 HIGH 50% PHASE 0.0;
#NET "sd_dqs[1]" CLOCK_DEDICATED_ROUTE = false;
#
#NET "sd_dm*" OFFSET = IN 2.0 ns VALID 4.5 ns BEFORE sd_dqs[0] RISING;
#NET "sd_dm*" OFFSET = IN 2.0 ns VALID 4.5 ns BEFORE sd_dqs[1] RISING;
#
#OFFSET = IN -0.50 ns VALID 2.33 ns BEFORE sd_dqs[0] RISING;
#OFFSET = IN -0.50 ns VALID 2.33 ns BEFORE sd_dqs[1] RISING;

# DDR 133 Mhz rate clock #

#NET "sd_dqs[0]" TNM_NET = dqs0;
#TIMESPEC TS_dso0 = PERIOD "dqs0" 7.5 ns HIGH 50%;
#NET "sd_dqs[0]" CLOCK_DEDICATED_ROUTE = false;
#
#NET "sd_dqs[1]" TNM_NET = dqs1;
#TIMESPEC TS_dso1 = PERIOD "dqs1" TS_dso0 HIGH 50% PHASE 0.0;
#NET "sd_dqs[1]" CLOCK_DEDICATED_ROUTE = false;
#
#NET "sd_dm*" OFFSET = IN 2.0 ns VALID 3.75 ns BEFORE sd_dqs[0] RISING;
#NET "sd_dm*" OFFSET = IN 2.0 ns VALID 3.75 ns BEFORE sd_dqs[1] RISING;
#
#
#INST "ddrphy_e/byte_g[0].dqs_delayed_e/chain_g[1].lut" LOC = SLICE_X3Y29;
#INST "ddrphy_e/byte_g[1].dqs_delayed_e/chain_g[1].lut" LOC = SLICE_X3Y72;
#
#OFFSET = IN -0.625 ns VALID 2.5 ns BEFORE sd_dqs[0] RISING;
#OFFSET = IN -0.625 ns VALID 2.5 ns BEFORE sd_dqs[1] RISING;

# ####################### #
# Read-FIFO DQS Delay Tap #
# ####################### #

# Data Byte 0 #

INST "ddrphy_e/byte_g[0].dqs_delayed_e/lutn" LOC = SLICE_X2Y29;
INST "ddrphy_e/byte_g[0].dqs_delayed_e/lutp" LOC = SLICE_X2Y29;

# Data Byte 1 #

INST "ddrphy_e/byte_g[1].dqs_delayed_e/lutn" LOC = SLICE_X2Y72;
INST "ddrphy_e/byte_g[1].dqs_delayed_e/lutp" LOC = SLICE_X2Y72;
