#                                                                            #
# Author(s):                                                                 #
#   Miguel Angel Sagreras                                                    #
#                                                                            #
# Copyright (C) 2015                                                         #
#    Miguel Angel Sagreras                                                   #
#                                                                            #
# This source file may be used and distributed without restriction provided  #
# that this copyright statement is not removed from the file and that any    #
# derivative work contains  the original copyright notice and the associated #
# disclaimer.                                                                #
#                                                                            #
# This source file is free software; you can redistribute it and/or modify   #
# it under the terms of the GNU General Public License as published by the   #
# Free Software Foundation, either version 3 of the License, or (at your     #
# option) any later version.                                                 #
#                                                                            #
# This source is distributed in the hope that it will be useful, but WITHOUT #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or      #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for   #
# more details at http://www.gnu.org/licenses/.                              #
#                                                                            #

NET "user_clk" TNM_NET = user_clk;
TIMESPEC ts_user_clk = PERIOD "user_clk" 10 ns HIGH 50%;

NET "iod_clk" TNM_NET = iod_clk;
TIMESPEC ts_iod_clk = PERIOD "iod_clk" 5 ns HIGH 50%;

NET "phy_rxclk_bufg" TNM_NET = phy_rxclk_bufg;
TIMESPEC ts_phy_rxclk = PERIOD "phy_rxclk_bufg" 40 ns HIGH 50%;
OFFSET = IN 4 ns VALID 8 ns BEFORE  phy_rxclk_bufg falling;

NET "phy_txclk" TNM_NET = phy_txclk;
TIMESPEC ts_phy_txclk = PERIOD "phy_txclk" 40 ns HIGH 50%;


# ###################### #
# Ignore crossclock time #
# ###################### #

# NET sys_clk    TNM_NET = FFS  FFS_sysclk;
#NET gtx_clk    TNM_NET = FFS  FFS_gtxclk;
#NET gtx_clk    TNM_NET = RAMS RAMS_gtxclk;

# NET ddrs_clk0  TNM_NET = FFS  FFS_ddrsclk0;
# NET ddrs_clk0  TNM_NET = RAMS RAMS_ddrsclk0;
# NET ddrs_clk90 TNM_NET = FFS  FFS_ddrsclk90;
# NET ddrs_clk90 TNM_NET = RAMS RAMS_ddrsclk90;

# TIMESPEC TS_r2r_ddr2sys    = FROM FFS_ddrsclk0 TO FFS_sysclk TIG;
# TIMESPEC TS_r2f_ddr2ddr    = FROM RAMS_ddrsclk0 TO FFS_ddrsclk90  TIG;
# TIMESPEC TS_f2f_ddr2gtx    = FROM FFS_ddrsclk0  TO FFS_gtxclk     TIG;

NET "clk_fpga_p"    IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "clk_fpga_n"    IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "ddr2_clk_p[*]" IOB=TRUE | IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2_clk_n[*]" IOB=TRUE | IOSTANDARD = DIFF_SSTL18_II;
NET "ddr2_dqs_p[*]" IOB=TRUE | IOSTANDARD = DIFF_SSTL18_II_DCI;
NET "ddr2_dqs_n[*]" IOB=TRUE | IOSTANDARD = DIFF_SSTL18_II_DCI;
NET "ddr2_d[*]"     IOB=TRUE | IOSTANDARD = SSTL18_II_DCI;
NET "ddr2_dm[*]"    IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_we"       IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_cas"      IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_ras"      IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_cs[*]"    IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_cke[*]"   IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_ba[*]"    IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_a[*]"     IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "ddr2_odt[*]"   IOB=TRUE | IOSTANDARD = SSTL18_II;
NET "dvi_gpio1"     IOSTANDARD = SSTL18_II;

#NET "ddr2_scl"       IOSTANDARD = SSTL18_II;
#NET "ddr2_sda"       IOSTANDARD = SSTL18_II;
#NET "gpio_dip_sw[1]" IOSTANDARD = SSTL18_II;

NET "gpio_led[3]" IOSTANDARD = SSTL18_II;
NET "gpio_led[5]" IOSTANDARD = SSTL18_II;
NET "gpio_led[6]" IOSTANDARD = SSTL18_II;
NET "gpio_led[7]" IOSTANDARD = SSTL18_II;