#                                                                            #
# Author(s):                                                                 #
#   Miguel Angel Sagreras                                                    #
#                                                                            #
# Copyright (C) 2015                                                         #
#    Miguel Angel Sagreras                                                   #
#                                                                            #
# This source file may be used and distributed without restriction provided  #
# that this copyright statement is not removed from the file and that any    #
# derivative work contains  the original copyright notice and the associated #
# disclaimer.                                                                #
#                                                                            #
# This source file is free software; you can redistribute it and/or modify   #
# it under the terms of the GNU General Public License as published by the   #
# Free Software Foundation, either version 3 of the License, or (at your     #
# option) any later version.                                                 #
#                                                                            #
# This source is distributed in the hope that it will be useful, but WITHOUT #
# ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or      #
# FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for   #
# more details at http://www.gnu.org/licenses/.                              #
#                                                                            #

NET "xtal" TNM_NET = xtal;
TIMESPEC ts_xtal = PERIOD "xtal" 20 ns HIGH 50%;

NET "vga_clk" TNM_NET = FFS  FFS_videoclk;
NET "vga_clk" TNM_NET = RAMS RAMS_videoclk;
NET "samples_e/clk" TNM_NET = FFS  FFS_sysclk;
NET "samples_e/clk" TNM_NET = RAMS RAMS_sysclk;

TIMESPEC TS_video2sys1 = FROM FFS_videoclk TO FFS_sysclk    TIG;
TIMESPEC TS_sys2video1 = FROM FFS_sysclk   TO FFS_videoclk  TIG;
TIMESPEC TS_sys2video2 = FROM RAMS_sysclk  TO FFS_videoclk  TIG;
TIMESPEC TS_sys2video3 = FROM FFS_sysclk   TO RAMS_videoclk TIG;

NET "xtal"             IOSTANDARD = LVCMOS33 | FAST;
NET "led[*]"           IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "button[*]"        IOSTANDARD = LVCMOS33;
NET "switch[*]"        IOSTANDARD = LVCMOS33;
NET "s3s_anodes[*]"    IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "s3s_segment_a"    IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "s3s_segment_b"    IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "s3s_segment_c"    IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "s3s_segment_d"    IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "s3s_segment_e"    IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "s3s_segment_f"    IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "s3s_segment_g"    IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "s3s_segment_dp"   IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "vga_red"          IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "vga_green"        IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "vga_blue"         IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "vga_hsync"        IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "vga_vsync"        IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "ps2_clk"          IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "ps2_data"         IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
NET "rs232_rxd"        IOSTANDARD = LVCMOS33;
NET "rs232_txd"        IOSTANDARD = LVCMOS33 | FAST | IOB=TRUE;
